[2015-01-28 17:22] chazzlabs opened #1 "Errors when specifying rules in .eslintrc"
When I specify rules in my .eslintc file, I'm seeing two results.

[code]

This results in the rule still being run with the default option from rulesConfig in the plugin's index.js.

[code]
or
[code]

This results in the following error:

[code]

[2015-01-28 17:28] chazzlabs commented on #1
My apologies.  I wasn't correctly defining the rules in my .eslintrc file using the <plugin>/ prefix.

[2015-01-28 17:28] #1 closed

[2015-01-31 15:22] Gillespie59 opened #2 "Dependency Injection : 2 syntaxes possibles"
We should add a rule to check the Dependency Inject syntax used in your AngularJS application. The Function or the Array syntax

[2015-01-31 15:34] Gillespie59 commented on #2
Done : https://github.com/Gillespie59/eslint-plugin-angular/commit/b8d8748d3169f2118a48fb0f99c7de9b1cea70d8

[2015-01-31 15:35] #2 closed

[2015-02-01 20:02] Gillespie59 opened #3 "Check the signature of the ngResource $resource service"

[2015-02-02 17:04] Gillespie59 opened #4 "Check the Karma configuration file"
Based on the name of the file (configurable), we should be able to lint the Karma Configuration file, in order to be sure to use the right properties

[2015-02-02 17:05] Gillespie59 opened #5 "Check the Protractor configuration file"
Based on the name of the file (configurable), we should be able to lint the Protractor Configuration file, in order to be sure to use the right properties

[2015-02-02 17:51] Gillespie59 opened #6 "Use the $document service instead of document"

[2015-02-02 17:52] Gillespie59 opened #7 "Use the $interval service instead of setInterval method"

[2015-02-04 21:50] EmmanuelDemey opened #8 "Changelog generation and deployed by Travis"

[2015-02-05 11:18] Gillespie59 opened #9 "Detect Empty AngularJS Controller"
If we can detect empty AngularJS controller, we can display warning to developers explaining that this Controller useless.

[2015-02-05 11:28] Gillespie59 opened #10 "Check AngularJS Component name with a Regexp"
Right now, we can check if each AngularJS component (service, controller, ...) start by a specific string. We can maybe use regexp to make it more configurable.

[2015-02-05 11:40] Gillespie59 opened #11 "No $http, ngResource or Restangular DI inside AngularJS"
In order to follow  the separation of concerns principle, we should not send Ajax request inside Controller. Everything should be implemented inside AngularJS service.

[2015-02-05 11:41] Gillespie59 opened #12 "Dont start Module or Directive name with 'ng' (already used by Angular)"
And service starting with '$' or '$$'

[2015-02-05 11:57] Gillespie59 opened #13 "Anonymous or Named funtions inside AngularJS components"
https://github.com/johnpapa/angularjs-styleguide/edit/master/README.md

- Use named functions instead of passing an anonymous function in as a callback.

  *Why?*: This produces more readable code, is much easier to debug, and reduces the amount of nested callback code.

[code]

[code]

[code]

[2015-02-06 11:36] Gillespie59 opened #14 "Check if the module definition start a specific string"

[2015-02-06 12:21] #9 closed

[2015-02-06 12:22] Gillespie59 opened #15 "The ng_di rule should check the number of parameter of the callback"
For the Array syntax, if we have n services to load, the function should have 3 parameters.

[2015-02-06 12:38] #15 closed

[2015-02-08 13:31] Gillespie59 opened #16 "ng_window_service rule should return error for window.[document, setTimeout, setInterval]"
Because these objets/methods are managed by other rules

[2015-02-08 13:50] Gillespie59 opened #17 "ng_timeout_service should check window.setTimeout and setTimeout"

[2015-02-08 13:50] Gillespie59 opened #18 "ng_interval_service should check window.setInterval and setInterval"

[2015-02-08 13:51] Gillespie59 opened #19 "ng_document_service should check window.document and document"

[2015-02-08 13:54] #18 closed

[2015-02-08 13:54] #6 closed

[2015-02-16 17:16] Gillespie59 opened #21 "Create Script to automate "git tags" process"
Update NPM and Bower version property
Generate changelog

[2015-02-16 19:52] Gillespie59 opened #22 "No DOM Manipulation inside Controller"
No angular.element, jQuery(), document.querySelector, document.queryAll, document.getElementBy*

[2015-02-16 19:54] Gillespie59 opened #23 "Restrict to Elements and Attributes (Y074)"
https://github.com/johnpapa/angularjs-styleguide/edit/master/README.md

- When creating a directive that makes sense as a stand-alone element, allow restrict `E` (custom element) and optionally restrict `A` (custom attribute). Generally, if it could be its own control, `E` is appropriate. General guideline is allow `EA` but lean towards implementing as an element when it's stand-alone and as an at

[2015-02-16 20:55] Gillespie59 opened #24 "AngularJS Component name should be equal to the file name"

[2015-02-17 16:22] Gillespie59 opened #25 "Integrate Coverrals for Code Coverage"
strongloop.com/strongblog/npm-modules-travis-coveralls/

[2015-02-22 18:47] Gillespie59 opened #26 "Don't wrap angular.element() object inside $() or jQuery()"
because angular.element() are already jqLite element

[2015-02-23 17:02] Gillespie59 opened #27 "Shoud not use private $$-prefixed Angular properties/methods"

[2015-02-23 17:03] Gillespie59 opened #28 "Should not use $digest method. Prefer $apply"

[2015-02-23 17:23] #28 closed

[2015-02-23 17:23] #27 closed

[2015-02-23 17:23] #26 closed

[2015-02-23 17:29] albertosantini opened #29 "AngularJS Style Guide"
Any roadmap to implement John Papa's AngularJS Style Guide?

https://github.com/johnpapa/angularjs-styleguide

[2015-02-23 17:34] #25 closed

[2015-02-23 17:36] Gillespie59 commented on #29
Hi Albert,

Will have a look to this well-known guideline. I think some of these BP are already implemented. But will let you know soon about the roadmap.

Manu

[2015-02-23 17:41] albertosantini commented on #29
Thanks for the quick reply.
Your plugin is AngularJS Nirvana. :)

[2015-02-23 17:46] Gillespie59 commented on #29
Thanks a lot.
If you want to collaborate, do not hesitate to send Pull Request ;)

[2015-02-24 09:07] albertosantini opened #30 "Configuration for client and server code"
Not an issue, only an hint, if you wonder how to lint different part of code, this is my way. :)

[code]

- `myproject/.eslintrc` contains the common rules.
For instance,
[code]

- `src/client/.eslintrc` contains client side rules.
For instance,
[code]

- `src/server/.eslintrc` contains server side rules.
For instance
[code]

Usually I lint a javascript file when I save it. ESLint is installed als

[2015-02-24 10:43] Gillespie59 opened #31 "Should use angular.isDefined() instead of !angular.isUndefined"
and angular.isUndefined() instead of !angular.isDefined

[2015-02-26 16:48] Gillespie59 commented on #30
Thanks for your hint. It could be useful to add your architecture in a Wiki page maybe

[2015-02-26 20:21] #31 closed

[2015-02-27 19:59] Gillespie59 commented on #22
and inside Directive

[2015-02-27 20:26] Gillespie59 commented on #29
* Define 1 component per page (Y001) -> eslint-plugin-angular 0.0.5 (Difficulty: 1/5)
* JavaScript Closures IIFE (Y010) -> should be implemented in ESLint
* Definitions (aka Setters) (Y021) -> eslint-plugin-angular 0.0.5 (Difficulty: 1/5)
* Getters (Y022) -> eslint-plugin-angular 0.0.5 (Difficulty: 1/5)
* Named vs Anonymous Functions (Y024) -> [eslint-plugin-angular 0.0.5](https://github.com/Gille

[2015-02-27 20:26] Gillespie59 commented on #29
Hi,

Here is my roadmap. Any remarks are welcomed ;)

If everything is OK for you, I will deploy the release 0.0.4, create an issue for all of these items, and start working on them.

[2015-02-27 21:44] albertosantini commented on #29
Great! Go ahead.
I have been using the plugin to lint Argo: https://github.com/albertosantini/argo

[2015-03-03 19:31] Gillespie59 opened #32 "Define 1 component per page (Y001)"
https://github.com/johnpapa/angularjs-styleguide

  - Define 1 component per file.

  The following example defines the `app` module and its dependencies, defines a controller, and defines a factory all in the same file.

[code]

  The same components are now separated into their own files.

[code]

[code]

[code]

[2015-03-03 19:32] Gillespie59 opened #33 "Definitions (aka Setters) (Y021)"
https://github.com/johnpapa/angularjs-styleguide/edit/master/README.md

  - Declare modules without a variable using the setter syntax.

  *Why?*: With 1 component per file, there is rarely a need to introduce a variable for the module.

[code]

  Instead use the simple setter syntax.

[code]

[2015-03-03 19:34] Gillespie59 opened #34 "Getters (Y022)"
https://github.com/johnpapa/angularjs-styleguide/edit/master/README.md

- When using a module, avoid using a variable and instead use chaining with the getter syntax.

  *Why?*: This produces more readable code and avoids variable collisions or leaks.

[code]

[code]

[2015-03-03 19:38] Gillespie59 opened #35 "controllerAs Controller Syntax (Y031)"
https://github.com/johnpapa/angularjs-styleguide/edit/master/README.md

- Use the `controllerAs` syntax over the `classic controller with $scope` syntax.

  - The `controllerAs` syntax uses `this` inside controllers which gets bound to `$scope`

  *Why?*: `controllerAs` is syntactic sugar over `$scope`. You can still bind to the View and still access `$scope` methods.

  *Why?*: Helps avoid the te

[2015-03-03 19:39] Gillespie59 opened #36 "controllerAs with vm (Y032)"
https://github.com/johnpapa/angularjs-styleguide/edit/master/README.md

- Use a capture variable for `this` when using the `controllerAs` syntax. Choose a consistent variable name such as `vm`, which stands for ViewModel.

  *Why?*: The `this` keyword is contextual and when used within a function inside a controller may change its context. Capturing the context of `this` avoids encountering this p

[2015-03-03 19:41] Gillespie59 opened #37 "Bindable Membert Up Top (Y033)"
https://github.com/johnpapa/angularjs-styleguide/edit/master/README.md

- Place bindable members at the top of the controller, alphabetized, and not spread through the controller code.

    *Why?*: Placing bindable members at the top makes it easy to read and helps you instantly identify which members of the controller can be bound and used in the View.

    *Why?*: Setting anonymous functions in-

[2015-03-03 19:43] Gillespie59 opened #38 "Function Declarations to Hide Implementation Details (Y034)"
https://github.com/johnpapa/angularjs-styleguide/edit/master/README.md

 - Use function declarations to hide implementation details. Keep your bindable members up top. When you need to bind a function in a controller, point it to a function declaration that appears later in the file. This is tied directly to the section Bindable Members Up Top. For more details see [this post](http://www.johnpapa.

[2015-03-03 19:45] Gillespie59 opened #39 "Keep Controllers Focused (Y037)"
https://github.com/johnpapa/angularjs-styleguide/edit/master/README.md

- Define a controller for a view, and try not to reuse the controller for other views. Instead, move reusable logic to factories and keep the controller simple and focused on its view.

    *Why?*: Reusing controllers with several views is brittle and good end to end (e2e) test coverage is required to ensure stability across l

[2015-03-03 19:47] Gillespie59 opened #40 "Accessible Members Up Top (Y052)"
https://github.com/johnpapa/angularjs-styleguide/edit/master/README.md

- Expose the callable members of the service (its interface) at the top, using a technique derived from the [Revealing Module Pattern](http://addyosmani.com/resources/essentialjsdesignpatterns/book/#revealingmodulepatternjavascript).

    *Why?*: Placing the callable members at the top makes it easy to read and helps you insta

[2015-03-03 19:59] Gillespie59 opened #41 "Manually Identify Dependencies (Y091)"
https://github.com/johnpapa/angularjs-styleguide/edit/master/README.md

- Use `$inject` to manually identify your dependencies for AngularJS components.

    *Why?*: This technique mirrors the technique used by [`ng-annotate`](https://github.com/olov/ng-annotate), which I recommend for automating the creation of minification safe dependencies. If `ng-annotate` detects injection has already been ma

[2015-03-03 20:04] Gillespie59 opened #42 "Singletons (Y040)"
https://github.com/johnpapa/angularjs-styleguide/edit/master/README.md

- Services are instantiated with the `new` keyword, use `this` for public methods and variables. Since these are so similar to factories, use a factory instead for consistency.

    Note: [All AngularJS services are singletons](https://docs.angularjs.org/guide/services). This means that there is only one instance of a given se

[2015-03-03 20:06] Gillespie59 opened #43 "Function Declarations to Hide Implementation Details (Y053)"
https://github.com/johnpapa/angularjs-styleguide/edit/master/README.md

- Use function declarations to hide implementation details. Keep your accessible members of the factory up top. Point those to function declarations that appears later in the file. For more details see [this post](http://www.johnpapa.net/angular-function-declarations-function-expressions-and-readable-code).

    *Why?*: Placin

[2015-03-03 20:11] Gillespie59 commented on #19
Add link to the Y180 johnpapa guidline

[2015-03-03 20:12] Gillespie59 commented on #16
Add link to the Y180 johnpapa guidline

[2015-03-03 20:12] Gillespie59 commented on #7
Add link to the Y181 johnpapa guidline

[2015-03-03 20:12] Gillespie59 commented on #17
Add link to the Y181 johnpapa guidline

[2015-03-03 20:14] Gillespie59 commented on #10
Add link to the Y123, Y124, Y125, Y126 johnpapa guideline

[2015-03-03 20:15] Gillespie59 commented on #11
Add Y035 johnpapa guideline. And add $q to the list

[2015-03-03 20:15] #11 closed

[2015-03-03 20:16] Gillespie59 commented on #14
Add Y127 johnpapa guideline

[2015-03-03 20:23] Gillespie59 opened #44 "Routing - User AngularUI Router (Y270)"
https://github.com/johnpapa/angularjs-styleguide/edit/master/README.md

- Use the [AngularUI Router](http://angular-ui.github.io/ui-router/) for client-side routing.

    *Why?*: UI Router offers all the features of the Angular router plus a few additional ones including nested routes and states.

    *Why?*: The syntax is quite similar to the Angular router and is easy to migrate to UI Router.

#

[2015-03-03 20:27] Gillespie59 opened #45 "Directives and ControllerAs (Y075)"
https://github.com/johnpapa/angularjs-styleguide/edit/master/README.md

- Use `controller as` syntax with a directive to be consistent with using `controller as` with view and controller pairings.

    *Why?*: It makes sense and it's not difficult.

    Note: The directive below demonstrates some of the ways you can use scope inside of link and directive controllers, using controllerAs. I in-lined

[2015-03-03 20:28] Gillespie59 opened #46 "Route Resolve Promises (Y081)"
https://github.com/johnpapa/angularjs-styleguide/edit/master/README.md

- When a controller depends on a promise to be resolved before the controller is activated, resolve those dependencies in the `$routeProvider` before the controller logic is executed. If you need to conditionally cancel a route before the controller is activated, use a route resolver.

  - Use a route resolve when you want to

[2015-03-03 20:31] Gillespie59 opened #47 "Controller Activation Promises (Y080)"
https://github.com/johnpapa/angularjs-styleguide/edit/master/README.md

- Resolve start-up logic for a controller in an `activate` function.

    *Why?*: Placing start-up logic in a consistent place in the controller makes it easier to locate, more consistent to test, and helps avoid spreading out the activation logic across the controller.

    *Why?*: The controller `activate` makes it convenien

[2015-03-03 20:31] Gillespie59 opened #48 "Manipulate DOM in a Directive (Y072)"
https://github.com/johnpapa/angularjs-styleguide/edit/master/README.md

- When manipulating the DOM directly, use a directive. If alternative ways can be used such as using CSS to set styles or the [animation services](https://docs.angularjs.org/api/ngAnimate), Angular templating, [`ngShow`](https://docs.angularjs.org/api/ng/directive/ngShow) or [`ngHide`](https://docs.angularjs.org/api/ng/directi

[2015-03-03 20:34] Gillespie59 opened #49 "Directives - Limit 1 Per File (Y070)"
https://github.com/johnpapa/angularjs-styleguide/blob/master/README.md

- Create one directive per file. Name the file for the directive.

    *Why?*: It is easy to mash all the directives in one file, but difficult to then break those out so some are shared across apps, some across modules, some just for one module.

    *Why?*: One directive per file is easy to maintain.

[code]

[code]

[code]

[2015-03-03 20:38] Gillespie59 opened #50 "Route Errors (Y112)"
https://github.com/johnpapa/angularjs-styleguide/edit/master/README.md

- Handle and log all routing errors using [`$routeChangeError`](https://docs.angularjs.org/api/ngRoute/service/$route#$routeChangeError).

    *Why?*: Provides a consistent way to handle all routing errors.

    *Why?*: Potentially provides a better user experience if a routing error occurs and you route them to a friendly scr

[2015-03-03 20:39] Gillespie59 opened #51 "Assigning Controllers (Y038)"
https://github.com/johnpapa/angularjs-styleguide/edit/master/README.md

- When a controller must be paired with a view and either component may be re-used by other controllers or views, define controllers along with their routes.

    Note: If a View is loaded via another means besides a route, then use the `ng-controller="Avengers as vm"` syntax.

    *Why?*: Pairing the controller in the route a

[2015-03-03 20:41] Gillespie59 opened #52 "Configuration (Y128)"
- Separate configuration for a module into its own file named after the module. A configuration file for the main `app` module is named `app.config.js` (or simply `config.js`). A configuration for a module named `admin.module.js` is named `admin.config.js`.

    *Why?*: Separates configuration from module definition, components, and active code.

    *Why?*: Provides an identifiable place to set c

[2015-03-03 20:42] Gillespie59 opened #53 "Run Blocks (Y171)"
- Any code that needs to run when an application starts should be declared in a factory, exposed via a function, and injected into the [run block](https://docs.angularjs.org/guide/module#module-loading-dependencies).

    *Why?*: Code directly in a run block can be difficult to test. Placing in a factory makes it easier to abstract and mock.

[code]

[2015-03-03 20:42] Gillespie59 opened #54 "Routes (Y129)"
- Separate route configuration into its own file. Examples might be `app.route.js` for the main module and `admin.route.js` for the `admin` module. Even in smaller apps I prefer this separation from the rest of the configuration.

[2015-03-03 20:44] Gillespie59 opened #55 "Test File Names (Y122)"
- Name test specifications similar to the component they test with a suffix of `spec`.

    *Why?*: Provides a consistent way to quickly identify components.

    *Why?*: Provides pattern matching for [karma](http://karma-runner.github.io/) or other test runners.

[code]

[2015-03-03 20:46] Gillespie59 opened #56 "Naming Guidelines (Y120)"
- Use consistent names for all components following a pattern that describes the component's feature then (optionally) its type. My recommended pattern is `feature.type.js`. There are 2 names for most assets:
    * the file name (`avengers.controller.js`)
    * the registered component name with Angular (`AvengersController`)

    *Why?*: Naming conventions help provide a consistent way to find co

[2015-03-03 20:47] Gillespie59 commented on #29
I have created all tickets for all these new features.
Feel free to send Pull request ;)

[2015-03-03 20:47] #29 closed

[2015-03-03 21:20] johnpapa commented on #29
Are these implemented yet or just issues created?

[2015-03-03 21:22] Gillespie59 commented on #29
Some of them have already been implemented. Need to add a link to your awesome guideline.
But a huge list of best practice need to be implemented ;) Will do it soon.

[2015-03-03 21:27] johnpapa commented on #29
is it ready to test? id like to show it if its ready

[2015-03-03 21:30] Gillespie59 commented on #29
You can maybe have a look to these rules :
- ng_controller_name
- ng_directive_name
- ng_filter_name
- ng_interval_service
- ng_module_name
- ng_no_services
- ng_service_name
- ng_timeout_service
- ng_window_service

[2015-03-03 21:42] #19 closed

[2015-03-03 21:43] #16 closed

[2015-03-03 21:45] #17 closed

[2015-03-03 21:45] #7 closed

[2015-03-03 21:47] #14 closed

[2015-03-03 21:54] #10 closed

[2015-03-04 05:00] johnpapa commented on #29
i couldnt get it working. let me know when its closer. this is a great idea.

[2015-03-04 07:16] Gillespie59 commented on #29
Which error do you have ? Albert an I used it for personnal project.

Maybe you use the 0.0.3 release, because the 0.0.4 has not been deployed it. Maybe you can install via the Github URL ?

I will deploy the release 0.0.4 today or tomorrow.

[2015-03-04 09:32] #12 closed

[2015-03-04 11:42] albertosantini opened #57 "Not found rule ng_no_ng_no_digest"
It seems with version 0.0.4 (0.0.5 is not published) I get:

    Warning: Cannot find module './rules/ng_no_ng_no_digest'

[2015-03-04 14:11] johnpapa commented on #29
I did it from github. For errors about some of the rules not being found.

There were some spelling mistakes. I fixed some but ran into other others about rules not being found.

John

On Mar 4, 2015, at 12:16 AM, Emmanuel DEMEY <notifications@github.com> wrote:

Which error do you have ? Albert an I used it for personnal project.

Maybe you use the 0.0.3 release, because the 0.0.4 has not been de

[2015-03-04 14:57] albertosantini commented on #29
Indeed see https://github.com/Gillespie59/eslint-plugin-angular/issues/57

[2015-03-04 19:01] johnpapa commented on #57
Yes. this line needs to be fixed:
[code]

[2015-03-04 19:01] johnpapa commented on #57
and this one too:

[code]

to

[code]

[2015-03-04 19:01] johnpapa commented on #57
Even with these, i still get

[code]

[2015-03-04 19:03] johnpapa commented on #29
See the issues I am having here https://github.com/Gillespie59/eslint-plugin-angular/issues/57

[2015-03-05 09:14] princed opened #58 "Inline templates rule"
Rule to prohibit inline templates in directives, when there are escaped quotes in string or multiline strings.

The following patterns are considered warnings:
[code]

[code]

The following patterns are considered okay and do not cause warnings:

[code]

[code]

[2015-03-05 13:24] Gillespie59 commented on #57
@albertosantini can you test with latest changes ? If it is OK, I will deploy a quick 0.0.5 release.

About your last error, @johnpapa, I can not reproduce it :s. Maybe @albertosantini  ?

[2015-03-05 13:38] albertosantini commented on #57
I tested the master branch and it is ok.

[2015-03-05 13:39] Gillespie59 commented on #57
You do not have the last error found by @johnpapa ?

[2015-03-05 14:05] albertosantini commented on #57
No, it is ok.

I get lint errors as `You should use the function syntax for DI  angular/ng_di`, where the code should be ok, but finally I open another issue about it.

[2015-03-05 14:17] albertosantini opened #59 "You should use the function syntax for DI (angular/ng_di)"
It seems to me the code is correct and it is the style suggested in John's guide.

[code]

[2015-03-05 15:04] #57 closed

[2015-03-05 15:15] Gillespie59 commented on #59
Hi @albertosantini, I have just updated the master branch. Can you test quickly ? Thanks a lot.

[2015-03-05 15:18] albertosantini commented on #59
Tested on argo. No errors. :)

[2015-03-05 15:21] #59 closed

[2015-03-05 15:21] albertosantini commented on #59
Thanks a lot for your quick reaction!

[2015-03-05 15:23] Gillespie59 opened #60 "Components name rules should not return error if the prefix is undefined"
If we do not specify any prefix for ng_controller_name, ng_directive_name, ng_filter_name, ng_module_name and ng_service_name rules, no errors should be reported

[2015-03-05 15:24] Gillespie59 commented on #59
you are welcome ;)

[2015-03-05 15:24] #60 closed

[2015-03-05 22:38] johnpapa commented on #57
I'd like to show this at ngConf tomorrow ... could you provide the steps you follow to use this so I can double check what I have tried?

Also, you should add a demo to this repo that can simply be pulled npm install'd and run.

[2015-03-05 23:15] albertosantini commented on #57
@johnpapa I followed the steps describes in `Usage` section of the `README` to install the plugin.

Then I customized the eslint configuration for my project as described in https://github.com/Gillespie59/eslint-plugin-angular/issues/30.

If you clone my repo [argo](https://github.com/albertosantini/argo), you may use it as demo repo.

[code]

[2015-03-06 03:51] johnpapa commented on #57
I'm still getting errors after following the setup. I additionally installed eslint and gulp-eslint

[code]

[2015-03-06 03:56] johnpapa commented on #57
This error is because the rule is misspelled.

I noticed github has 0.0.6 but npm only has 0.0.5.

[2015-03-06 04:18] johnpapa commented on #57
I was able to disable 4 rules and got it to work. These 4 cause errors saying rule not found:

- ng_interval_service
- ng_service_name
- ng_timeout_service
- ng_window_service

Also, once I ran it with the remaining rules I got the ng_di error for the code blow (in a controller). It doesn't like the code where "states" beginds.

[code]

[2015-03-06 04:20] johnpapa opened #61 "4 rules not found"
I was able to disable 4 rules and got it to work. These 4 cause errors saying rule not found:

- ng_interval_service
- ng_service_name
- ng_timeout_service
- ng_window_service

Not sure why they are not working.

[2015-03-06 04:20] johnpapa opened #62 "inaccurate need for ng_di"
I got the ng_di error for the code blow (in a controller). It doesn't like the code where "states" beginds.

[code]

[2015-03-06 08:46] Gillespie59 commented on #62
Thanks @johnpapa

[2015-03-06 08:46] #62 closed

[2015-03-06 08:51] Gillespie59 opened #63 "Create sample application"
proposed by John in this issue #57

- [x] Demo using NPM
- [x] Demo using Grunt
- [x] Demo using Gulp

[2015-03-06 09:32] Gillespie59 commented on #61
You have this error with the default configuration ? in your local one ?

If it is in your local configuration, it looks like, you have to prefix all rules with the name of the plugin :

[code]

Will investigate the ESLint code today ;)

[2015-03-06 09:35] johnpapa commented on #61
Adding these seemed to make the error go away. These are in my `./.eslintrc` file.

[2015-03-06 09:38] Gillespie59 commented on #61
perfect, I will update the README.md with this trick.

FYI, here is the code in ESLint :

{code}
exports.import = function (pluginRules, pluginName) {
    Object.keys(pluginRules).forEach(function (ruleId) {
        var qualifiedRuleId = pluginName + "/" + ruleId,
            rule = pluginRules[ruleId];

        define(qualifiedRuleId, rule);
    });
};
{code}

So all rules have to be prefixed by

[2015-03-06 09:39] johnpapa commented on #61
sweet. can you update npm with the ng strict di fix you made too? i'll call this out in the ngConf presentation tomorrow and see if others can help contribute.

[2015-03-06 09:41] Gillespie59 commented on #61
Yep I will do it ;)
We are lucky with the time difference ;) (France vs USA)

[2015-03-06 09:41] johnpapa opened #64 "controller name rule not working?"
This should have caught the bad controller name. It should require CustomersController.

[code]

[2015-03-06 09:42] Gillespie59 commented on #64
What is the configuration of the controller_name rule ?

[2015-03-06 09:43] johnpapa commented on #64
[code]

[2015-03-06 09:50] Gillespie59 commented on #64
You should add a Regexp in the configuration of the rule :

[code]

I wanted to make this rule generic. Do you want this regexp as a default value ?

[2015-03-06 09:51] johnpapa commented on #64
If it is going to follow the style guide it should be UpperCase and end with Controller by default.

[2015-03-06 09:52] Gillespie59 commented on #64
Ok perfect ;) Will do it

[2015-03-06 09:52] johnpapa commented on #64
I guess that is the real question ... do you intend this plugin to follow the style guide?

[2015-03-06 09:52] Gillespie59 commented on #64
yes of course ;).

[2015-03-06 09:53] #61 closed

[2015-03-06 09:55] johnpapa commented on #64
that's cool. i just wanted to make sure.

I talked with the angular team today about this and we're hoping others will help contribute so this can be run against an app to see how it follows the guide. If this gets fully developed, then it would be very helpful for those building angular 1.x apps and when it comes time to migrate

[2015-03-06 09:59] Gillespie59 commented on #64
:) I am very glad this plugin can help all NG developers !!! Thanks a lot for your feedbacks !

for the ng_controller_name rule, I will set the default value to /[A-Z].*Controller$/ . OK for you ?

[2015-03-06 10:02] johnpapa commented on #64
Sounds right.

johnpapa 
@john_papa | http://johnpapa.net 

On March 6, 2015 at 2:59:04 AM, Emmanuel DEMEY (notifications@github.com) wrote:

:) I am very glad this plugin can help all NG developers !!! Thanks a lot for your feedbacks !

for the ng_controller_name rule, I will set the default value to /[A-Z].*Controller$/ . OK for you ?

—
Reply to this email directly or view it on GitHub.

[2015-03-06 10:05] #64 closed

[2015-03-06 10:07] johnpapa commented on #64
thanks.

now you're locked in ... your face and name are in my slide deck for tomorrow now :)

[2015-03-06 10:10] Gillespie59 commented on #64
:) thanks.
You should go to sleep now ?

[2015-03-08 19:08] #42 closed

[2015-03-08 20:00] Gillespie59 opened #67 "Create Online Demo"
Like http://eslint.org/demo/

[2015-03-08 23:47] dustinspecker opened #68 "ng_controller_name suffix option"
Currently, the ng_controller_name validates a prefix, but the rule refers to John Papa's use of a `Controller` suffix. Should the rule be validating prefixes or suffixes? If it's intended to validate prefixes, it'd be awesome to see another rule for suffix. I wouldn't mind working on this feature and learning how ESLint works.

Thanks for making all of these rules!

[2015-03-09 08:35] Gillespie59 commented on #68
Hi,

You can also specify a Regexp. For example, the default value for this rule is : /[A-Z].*Controller$/ : the name should start with an uppercase, and finish with 'Controller'

[2015-03-09 09:26] Gillespie59 commented on #44
This rule will have one option : the name of the router that has to be use : ngRoute, ngNewRouter or ui.router

For this rule, we will check the imported module (angular.module()) and the services we use.

[2015-03-09 10:57] dustinspecker commented on #68
Thank you. Is there a way to provide a RegExp in a JSON formatted .eslintrc? If not, I can make a PR.

[2015-03-09 13:25] #68 closed

[2015-03-09 14:34] #63 closed

[2015-03-12 11:29] johnpapa commented on #67
demo should show all of the eslintrc options that cover the features you have implemented

[2015-03-12 16:02] Gillespie59 commented on #67
Yes. I would like the implement the possibility to enable/disable rules, and change the default configuration.

[2015-03-14 15:36] bbohling opened #75 "2 Rules Not Found Error"
I get "Definition for rule X not found" for the following 2 rules:

* ng_controller_as_route
* ng_no_service_method

Is see them in the repo's code though and even used copy/paste to ensure exactness, but to no avail. What am I missing?

[2015-03-14 19:47] seonetartem opened #76 "npm old version package"
2015.03.14
after
npm install --save-dev eslint-plugin-angular
i get old version rules:

module.exports = function(context) {

    'use strict';

    var utils = require('./utils/utils');

    return {

        'CallExpression': function(node) {

            var prefix = context.options[0];

            if(prefix === undefined) {
                return;
            }

            var callee = node.

[2015-03-14 22:36] Gillespie59 commented on #76
Which version do you use ? 0.0.6 ? That's maybe normal you do not have the latest version. We do not publish a new version on NPM after each commit.
If you want the newest version, you can install the dep via the git URL.

[2015-03-14 22:37] Gillespie59 commented on #75
Hi,

Which version of the plugin do you use ?

If you override these rules in your .eslintrc vile, you have to prefix them with 'angular/'

Manu

[2015-03-15 15:40] bbohling commented on #75
I have v0.0.6...I just installed it Friday. Below is my .eslintrc file

[code]

[2015-03-15 18:08] Gillespie59 commented on #75
Hi,

These two rules will available with the 0.0.7 release. This is not an issue in fact.

Manu

[2015-03-15 18:08] #75 closed

[2015-03-15 20:40] seonetartem commented on #76
i use v0.0.6
and try change default prefix "Controller" => "Ctrl"
....
.eslintrc
...
"rules": {
  "angular/ng_controller_name": [2, "/[A-Z].*Ctrl$/"]
}
......

this version plugin
var prefix = context.options[0];

prefix type "string" and utils.isRegexp(prefix) all time return false

[2015-03-15 21:03] Gillespie59 commented on #76
This issue has been solved for the future 0.0.7 release : https://github.com/Gillespie59/eslint-plugin-angular/pull/71

[2015-03-16 07:09] #76 closed

[2015-03-17 02:32] jbalboni commented on #35
I think this can be closed now.

[2015-03-17 09:03] Gillespie59 commented on #35
Yes. Thanks @jbalboni

[2015-03-17 09:03] #35 closed

[2015-03-17 15:17] bbohling commented on #75
Odd that you would have the 2 items in the 0.0.6 documentation and not call this a "bug". If they are not features until 0.0.7 I would content your documentation should not include them in the 0.0.6 docs or call it a bug. One or the other.

When will 0.0.7 be released?

[2015-03-17 16:10] Gillespie59 commented on #75
You do not have these documentations on the 0.0.6 doc : https://www.npmjs.com/package/eslint-plugin-angular

The README.md file available on Github is for the 0.0.7 version. But you are maybe right. I should update the version of the package.json to somethink like 0.0.7-SNAPSHOT, to avoid misunderstanding.

Is it OK for you ?

Manu

[2015-03-17 16:15] bbohling commented on #75
Gotcha...that makes sense. I guess my preference is to always have the master branch be the latest stable release. And then have feature/release branches. So in this repo's case master would be equivalent to 0.0.6 and then you would have a 0.0.7 branch where you were working on new features/bug fixes, whatever. Of course you can still have other branches that you merge into 0.0.7 (or other release

[2015-03-17 16:16] Gillespie59 commented on #75
Perfect. You are totally right. We will follow this rule after the 0.0.7 release.

[2015-03-17 16:18] bbohling commented on #75
Sounds excellent! Thank you for your efforts on this work!

[2015-03-20 08:33] m5rk commented on #37
Typo in the title: Membert -> Members.

[2015-03-20 08:34] Gillespie59 commented on #37
Fix. thanks.

[2015-03-22 08:30] #36 closed

[2015-03-24 10:46] hindsholm opened #81 "ng_controller_name not working with regexp in config file"
When ng_controller_name is configured from a configuration file, a regex cannot be specified.

To verify, check out demo/gulp and change the controller name to `AppController`, which matches the regex `'/[A-Z].*Controller$/'` in .eslintrc. The result is:

[code]

The error message indicates that the regex is being interpreted as a string, and indeed utils.js contains this test:

[code]

But I gues

[2015-03-25 16:17] Gillespie59 commented on #81
Hi @hindsholm
Thanks for this report. This issue has been solved by @dustinspecker in this commit https://github.com/Gillespie59/eslint-plugin-angular/commit/80336f1b844c951852b3131c0ff072f301e31a95
This changes will be available in the next 0.0.7 release. You can test this version hosted on the master branch, it will solve your issue I hope.

[2015-03-25 22:14] hindsholm commented on #81
Nice to see, that this has already been fixed.
I will have a look at master or wait for the 0.0.7 release.

[2015-03-30 14:36] tlvince opened #82 "Rule anchors are broken"
e.g. https://github.com/johnpapa/angularjs-styleguide#style-y031 redirects to https://github.com/johnpapa/angular-styleguide

[2015-03-30 16:28] #82 closed

[2015-03-30 16:32] #33 closed

[2015-03-31 12:50] borislavjivkov commented on #34
I want to take this issue if it's ok.

[2015-03-31 13:03] Gillespie59 commented on #34
No pb for me @borislavjivkov . Thanks a lot.

I have created a new branch : 0.0.8. All new changes should be pushed into this branch.

Manu

[2015-03-31 13:04] Gillespie59 commented on #81
This issue is solved, and available in the new 0.0.7 branch.

[2015-03-31 13:05] #81 closed

[2015-03-31 20:25] albertosantini opened #84 "Warning about peer dep eslint with io.js"
Just a note about peer dep eslint with io.js (1.6.3).

[code]

[2015-03-31 22:38] antonioaguilar opened #85 "Can't load the eslint-plugin-angular from Grunt using grunt-eslint"
Hi,

I'm trying to integrate the eslint-plugin-angular as part of my Grunt build system but I can't seem to be able to load the plugin within .eslintrc (json format). I'm using the following node_module dependencies installed locally:

  "devDependencies": {
    "eslint": "^0.16.1",
    "eslint-plugin-angular": "^0.0.7",
    "grunt": "^0.4.5",
    "grunt-eslint": "^7.0.1"
  }

and this is my .esli

[2015-04-01 07:29] Gillespie59 commented on #85
Hi Antonio

Very strange issue. Normally the plugin works quiet well with the the grunt integration.

Is it possible to have more logs? In order to understand where the problem come from.

Can you check that the plugin has been downloaded in your node_modules folder?

Manu

[2015-04-01 07:29] Gillespie59 commented on #84
Thanks Alberto.

[2015-04-01 08:51] antonioaguilar commented on #85
Hi Manu,
Thanks for the fast answer. Yes. The plugin is downloaded and installed in my local node_modules folder. I kept experimenting last night and I downgraded the eslint-plugin-angular to version "0.0.6" and it all worked fine.

Here are some logs when running Grunt with eslint-plugin-angular version "0.0.7":

$ grunt --debug --stack eslint
Running "eslint:target" (eslint) task
[D] Task source

[2015-04-01 08:54] Gillespie59 commented on #85
It looks like the problem come from the ng_controller_as_route rule. Does your KS code available somewhere ? In order to get file that give this issue. Thanks

[2015-04-01 08:54] Gillespie59 commented on #85
*your JS sorry

[2015-04-01 09:19] antonioaguilar commented on #85
I can't share the JS code because I'm using this internally in a company. You are right, the problem is in ng_controller_as_route rule. When I disable the rule:
{
  "plugins" : ["angular"],
  "rules": {
    "angular/ng_controller_as_route": 0
  }
}
the plugin runs fine.

[2015-04-01 10:04] antonioaguilar commented on #85
Hi Manu,
I found that the file that was causing the ng_controller_as_route error was actually a plain javascript SDK file without any angular code. My grunt build parser picked up the file, I added /* eslint-disable */ and /* eslint-enable */ but the file somehow linted. So, how does your plugin behave when you give it a plain javascript file without any angular code and run eslint?
I'm going to k

[2015-04-01 16:16] jbalboni commented on #85
@antonioaguilar Does the file it's breaking on have any code that has a property name of 'state'? That rule looks for a 'state' property and then tries to find the calling identifier and check that it's called '$stateProvider'. It looks like it's breaking after find a 'state' property.

I would be useful to just have a snippet where 'state' is used.

[2015-04-02 11:56] antonioaguilar commented on #85
@jbalboni I tracked the bug to this function (see code snippet below). State is defined as a variable. Renaming this variable to something else makes the rule pass.

[code]

[2015-04-02 12:51] jbalboni commented on #85
Thanks @antonioaguilar

[2015-04-02 16:25] Gillespie59 commented on #85
Should be OK now thanks to this PR. thanks both of you !!

[2015-04-02 16:25] #85 closed

[2015-04-07 20:28] Gillespie59 opened #87 "Use $log service instead of console.log"

[2015-04-07 20:29] #87 closed

[2015-04-09 03:27] grabus opened #88 "Make angular object list configurable for ng_no_services"
There is a hardcoded list in the [ng_no_services](https://github.com/Gillespie59/eslint-plugin-angular/blob/master/rules/ng_no_services.js#L7):
[code]
But I want to add 'factory' to the list for my project.
What do you think about making this list configurable?

[2015-04-09 06:14] Gillespie59 commented on #88
Perfect for me. Good idea. You want to contribute to this enhancement?

[2015-04-09 19:09] grabus commented on #88
Yes, I'd like to try realize it in the weekend.

[2015-04-12 08:38] #88 closed

[2015-04-12 08:40] #34 closed

[2015-04-12 19:38] #13 closed

[2015-04-28 16:14] Gillespie59 opened #95 "ng_typecheck_array should check Array.isArray"

[2015-04-28 16:14] Gillespie59 opened #96 "Create rule to check use of angular.forEach instead of [].forEach"

[2015-04-28 16:16] #95 closed

[2015-04-28 16:16] #96 closed

[2015-05-07 21:07] intellix opened #97 "no-use-before-define and other ESLint rules"
So I've installed this and am using the Sublimelinter plugin. My .eslintrc file contains only what it says in the README.md, which is to enable the plugin and I'm getting complaints about things like `no-use-before-define`.
Are these rules to be included within this plugin? If not; perhaps there should be a sample config containing the others, such as:

[code]

Great stuff, I was looking into JSCS

[2015-05-08 07:55] Gillespie59 commented on #97
Hi @intellix

the no-use-before-define rule was not defined in this plugin. This rule is available out of the box in the ESLint tool. What kind of error do you have ?

For the NG plugin, you will find a small example here : https://github.com/Gillespie59/eslint-plugin-angular/blob/master/demo/grunt/.eslintrc
And all rules are listed in the README file.

Regards

Manu

[2015-05-08 09:52] intellix commented on #97
Aye, it's out of the box with eslint, but it requires to be turned off so you can define functions before they're used https://github.com/johnpapa/angular-styleguide#style-y033

[2015-05-08 16:27] Gillespie59 commented on #97
But... you have turned it off with this ?

[code]

[2015-05-09 11:15] intellix commented on #97
What I'm saying is that to turn it off is a requirement of the angular-styleguide by JohnPapa. This plugin follows the angular-styleguide, so shouldn't this plugin come with `no-use-before-define` already disabled?
Out of the box with this plugin installed, you get a lot of complaints from ESLint that your code is wrong and you've got to spend some time finding all of the individual properties to

[2015-05-17 13:17] Gillespie59 commented on #97
I do not think we can this kind of thing in the plugin.
+1 for the sample configuration file. I will init this file with the `no-use-before-define` rule, and we will improve it in the future.

[2015-05-17 13:49] Gillespie59 commented on #84
Hi,
I think this is not an issue. This is just a warning for the upcoming nom@3. We do not have to do push any changes on our plugin.

In the next version of npm, the peerDependency won't be installed automatically like with npm@2. THe end-user will have to install it explicitly in his project.

This warning is just a message to prepare everybody ot this big change.

Manu

[2015-05-17 13:50] Gillespie59 commented on #84
We can maybe add a simple comment in our README.md file

[2015-05-17 14:29] albertosantini commented on #84
Agreed.

[2015-05-17 14:30] #84 closed

[2015-06-02 06:39] JamieMason opened #98 "YAMLException for ng_controller_name RegExp"
If I have the following item in my .eslintrc and run `eslint src/app`

[code]

The following error is reported by eslint

    /usr/local/lib/node_modules/eslint/lib/config.js:76
                    throw e;
                          ^
    YAMLException: Cannot read config file: /Users/jmason/Development/ssbt-bottom-screen/.eslintrc
    Error: JS-YAML: missed comma between flow collection entries a

[2015-06-02 08:10] Gillespie59 commented on #98
Hi @JamieMason

Can you try by wrapping the regexp with single or double quotes ?

[code]

Manu

[2015-06-02 09:33] JamieMason opened #99 "angular/ng_di: false positive for array constants"
The following code is considered a violation of `angular/ng_di`

[code]

[code]

Thanks

[2015-06-04 19:29] maxnordlund opened #100 "Wrong description of `typeof` in README"
Don't confuse `typeof`operator with `Object.prototype.toString.call`, the examples in the README are for the latter, not the former.

Value      | `typeof`       | `Object.prototype.toString.call`
------------|----------------|---------------------------------
`[]`        | `"object"`     | `"[object Array]"`
`{}`        | `"object"`     | `"[object Object]"`
`null`      | `"object"`     | `"[obje

[2015-06-05 11:36] Gillespie59 commented on #99
Hi.

I have just tried with the 0.0.8 branch and i do not have any problem.

In fact we so not support the config method in this rule. Are you sure that this snippet is the source of this error?

[2015-06-05 17:03] Gillespie59 commented on #99
OK. In fact the pb come from the constant method.  I am working on that right now

[2015-06-05 19:54] Gillespie59 commented on #99
I have just pushed a fix for this issue on the 0.0.8 branch.
I am going to release the 0.0.8 version tonight I think.

[2015-06-05 19:56] Gillespie59 commented on #97
I have set this config in the README.md file. Do not hesitate this file if you have find other ESLint AngularJS specific configuration.

[2015-06-05 19:56] #97 closed

[2015-06-05 20:02] Gillespie59 opened #102 "Support config and run methods in ng_di rule"

[2015-06-05 20:02] #102 closed

[2015-06-06 12:00] albertosantini opened #103 "TypeError: Cannot read property 'length' of undefined"
With 0.0.8 (and eslint 0.22.1)

[code]

[2015-06-06 15:51] Gillespie59 commented on #103
It looks like the problem come fro the carriage return. I will have a look.

[2015-06-06 17:06] albertosantini commented on #103
I don't think so.

I saved the file with unix line endings and the result is the same.

[2015-06-08 07:49] mattlewis92 commented on #103
I'm getting the same error with my project. It looks like it's being caused by `'use strict';`. When outputting the value of `node` passed to the `isAngularComponent` function I get this:
[code]

[2015-06-08 08:02] albertosantini commented on #103
Confirmed. it is `"use strict";`.

After removing it

[code]

@mattlewis92 Nice catch! :)

[2015-06-08 11:58] alecxe opened #104 "Enforce deferring controller logic"
Several month ago we started to follow the John Papa's styleguide and enforce some of the guidelines via custom ESLint rules. One of the rules we've implemented was to enforce deferring the logic implemented in controller to factories and services.

Here is the related SO thread containing the custom rule we've implemented: [Enforce deferring controller logic](http://stackoverflow.com/questions/27

[2015-06-08 13:27] Gillespie59 commented on #104
Hi @alecxe

What if the difference with the rule we already have : ng_no_services ?

Manu

[2015-06-08 13:59] alecxe commented on #104
@Gillespie59 great! `ng_no_services` covers even more than the mentioned custom rule. Closing. Many thanks!

[2015-06-08 13:59] #104 closed

[2015-06-08 15:21] loganom opened #105 "rules/ng_function_type.js callee.property.name undefined"
TypeError: Cannot read property 'name' of undefined

eslint-plugin-angular/rules/ng_no_services.js
Line 54

What information would be useful to help troubleshoot this issue?
npm --version 2.7.4

Issue found while running `npm start` after version 0.0.8 released. Our package.json had the eslint-plugin-angular dependency of `latest`. Reverting to 0.0.7 is a temporary fix.

[2015-06-08 16:14] twDuke commented on #103
Same issue here with the same versions.

[2015-06-08 17:46] Gillespie59 commented on #105
Hi @loganom

I need the snippet of code that is the source of this problem ? Can you share the file with this problem ?

Manu

[2015-06-08 18:21] loganom commented on #105
issue found when running npm install

[2015-06-08 18:29] loganom commented on #105
@Gillespie59 updated original comment.

[2015-06-08 18:46] Gillespie59 commented on #103
I have just push a fix. Can you test your project with the code hosted on the 0.0.9 branch ?

[2015-06-08 18:50] Gillespie59 commented on #105
you have this error  when doing a `npm install` ? strange. This eror is similar to a "runtime" error. You should have this kind of error when executing the linter to your source code.

[2015-06-08 18:54] Gillespie59 commented on #105
I have just pushed a fix. Can you give a try to the code hosted on the 0.0.9 branch ?

[2015-06-08 19:16] loganom commented on #105
Yes, that works for me. +1
Thanks!

[2015-06-08 19:47] mattlewis92 commented on #105
That worked for me as well. However the `angular/ng_module_getter` doesn't seem to work. It says:
`Avoid using a variable and instead use chaining with the getter syntax`

With the following code:
[code]

It gives this error for all my source files.

[2015-06-08 20:01] albertosantini commented on #103
Well testing on Argo, the snippet is ok, but other files display always the initial TypeError message.

About the second error `Avoid using a variable and instead use chaining ...` above, do you think it is correct? It seems to me Y022 is fulfilled.

[2015-06-08 20:28] loganom commented on #105
I just noticed that as well actually. @Gillespie59 Should this be a new issue?, I think you've resolved this one.

[2015-06-08 20:42] Gillespie59 commented on #100
Thanks @maxnordlund
Changes commited

[2015-06-08 20:42] #100 closed

[2015-06-08 20:44] Gillespie59 commented on #105
I close this issue. And we continue to discuss about the second one of this thread #103

[2015-06-08 20:46] Gillespie59 commented on #103
I have reproduced this issue in my unit test. I am going to solve it tonight or tomortow

[2015-06-08 20:53] Gillespie59 commented on #103
I think I solved this issue. Can you test again the 0.0.9 branch ?

@albertosantini  : You talk about some more TypeError errors ? Can you give me more informations ? Thanks.

[2015-06-08 20:53] Gillespie59 commented on #98
Is this answer enough for you?
Can I close this issue ?

[2015-06-08 21:07] mattlewis92 commented on #103
I'm still getting
`Avoid using a variable and instead use chaining with the getter syntax  angular/ng_module_getter`
with the latest 0.0.9 branch. Example code:
[code]

[2015-06-08 21:12] Gillespie59 commented on #103
OK I did not add this code into my tests. Will add it right now, and try to solve it.

[2015-06-08 21:18] Gillespie59 commented on #103
The problem come with the `directive` call. will try to solve this issue with a recursive call.

[2015-06-08 21:27] Gillespie59 commented on #103
Another update ;)

Can you test again ? Thanks a lot

[2015-06-08 21:39] mattlewis92 commented on #103
Now it's throwing an error again:
[code]

[2015-06-08 21:44] Gillespie59 commented on #103
I have pushed a test for undefined value.

[2015-06-08 21:49] mattlewis92 commented on #103
Same issue, different line:
[code]

[2015-06-08 21:51] Gillespie59 commented on #103
Why we do not have this kind of syntax of JS ( ?. ) in order to manage undefined value ;)

[2015-06-08 22:00] mattlewis92 commented on #103
That fixed the error but I'm getting the `angular/ng_module_getter` error again for a few files (It looks like the $on in the controller is causing it):
[code]

[2015-06-08 22:01] mattlewis92 commented on #103
This is the project I'm testing your branch against by the way, which should save a bit of back and forth :)
https://github.com/mattlewis92/angular-bootstrap-calendar

[2015-06-09 07:00] albertosantini commented on #103
I second @mattlewis92's suggestion about back and forth. :)

https://github.com/albertosantini/argo

[2015-06-09 11:43] Delagen opened #106 "ng_no_services failed"
fail on fragment
[code]
because node.callee.type is 'Identifier' and has no property `property`

[2015-06-09 11:47] Delagen opened #107 "ng_on_watch fail"
failed on this
[code]

[2015-06-09 19:21] Gillespie59 commented on #106
Can yous hare your snippet of code causing  this issue ?

[2015-06-10 05:35] Delagen commented on #106
for example
[code]

[2015-06-10 05:52] Gillespie59 commented on #106
Have you try the branch 0.0.9. I think I solved this issue on Monday.
Manu
Le 10 juin 2015 07:35, "Vohmyanin Sergey Vasilevich" <
notifications@github.com> a écrit :

[2015-06-10 05:54] Delagen commented on #106
I saw code and think yes.
But I wait for npm release

[2015-06-10 06:02] Gillespie59 commented on #106
No pb. I still have 2 issues and I will create the release 0.0.9 this week
I hope.
Le 10 juin 2015 07:54, "Vohmyanin Sergey Vasilevich" <
notifications@github.com> a écrit :

[2015-06-11 06:42] JamieMason commented on #98
Sorry for the delay @Gillespie59, tested with 0.0.8 and it is now working - thanks.

[2015-06-11 06:42] #98 closed

[2015-06-11 08:25] albertosantini commented on #103
With the latest commits in 0.0.9 branch (f847851), I linted again Argo.

There is not the Type Error, but there is annoying angular/ng_module_getter error, especially in the tests: it seems for every `describe` or `it` call.

[code]

[2015-06-11 08:27] albertosantini commented on #103
Do you prefer I close this issue on Type Error and open new issue on ng_module_getter?

[2015-06-13 13:32] davidmason opened #108 "Release more often (can I help make that happen?)"
I am being hit by a bug in the latest release that is fixed in the 0.0.9 branch. I ran `git diff master 0.0.9` and it looks like you have several bug-fixes saved up that have not been released yet.

@Gillespie59 Is there anything I can do to help get the next release out?

Would you be open to discussing the approach to versioning and releases for this project?

[2015-06-13 14:36] Gillespie59 commented on #108
I did not have any approach for versioning for this moment right now.
Before the 0.0.9 release I would like to solve #103 #106 and #107
You can take one of these issues i you want.

[2015-06-13 15:50] dustinspecker commented on #108
If you want to take advantage of unreleased commits, you can install modules directly from GitHub and specify a branch or commit.

`npm install --save-dev gillespie59/eslint-plugin-angular#0.0.9`
or
`npm install --save-dev gillespie59/eslint-plugin-angular#f847851ce2336046d1bc11486c28ee05ae8acec3`

[2015-06-14 00:02] davidmason commented on #108
My suggestion is to do a release every time a bug is fixed or a rule is added, using semver for version numbers. That would allow npm users to benefit from that code straight away (especially the bug fixes).

Using the semver structure [breaking].[feature].[bugfix], someone can easily specify version ranges or use '^' or '~' in front of their version in package.json so that they can choose whether

[2015-06-14 00:05] davidmason commented on #108
Looks like #106 is fixed, and you are working on #103, so I will see if I can figure out #107.

[2015-06-14 00:09] davidmason commented on #108
@dustinspecker I like to avoid that whenever I can, since it circumvents the use of semver to control what type of changes I automatically accept. It is a handy fallback when there is no other option though.

[2015-06-14 00:30] davidmason commented on #107
@Delagen @Gillespie59 I will try to fix this, but I am not yet very experienced with Angular. Can you give me a bit of a description of what is happening in this case and what should happen?

My first guess is: the rule fails because it says that the return value of `$on` should be captured so that it can be used in the `$destroy` event, but it should not fail when:

 - `$on("$destroy", ...)` beca

[2015-06-14 02:04] davidmason opened #110 "Remove eslint from peerDependencies"
npm peerDependencies are a bit of a mess at the moment: https://github.com/npm/npm/issues/5080

I am using `gulp-eslint` to run eslint, so I end up with 2 copies of eslint in my node_modules, and the one that is installed because of this peer dependency is not the one that is used to run the plugin. This means that in my case there is no guarantee provided by the peer dependency that the plugin wi

[2015-06-14 09:06] #106 closed

[2015-06-14 09:08] Gillespie59 commented on #108
Yes you are right. the #106 is fixed.

And I am OK with your idea about versionning.

So when the #103 or #107 are fixed, we will create a 0.0.9 and 0.0.10 release ?

And done, after each rule will update the second digit after each new rule ? 0.1.0 ... ?

Thanks for the proposition

[2015-06-14 09:10] Gillespie59 commented on #110
I agree. And in fact each we execute the NG plugin, we have warning message due to peerDependencies.

So we can remove this property. And add a paragraph in the README.md about the the different version of ESLint we support.

[2015-06-14 09:11] Gillespie59 commented on #103
Hi guys.

We can keep like that.

I will clone your projecct, and test the plugin on both of them.

Sorry  for the delay

Manu

[2015-06-14 09:14] Gillespie59 commented on #107
@Delagen

Can you give more informations about this issue ? Do you have a runtime error ?

Or do you receive an ESLint errors ? not expected .

Manu

[2015-06-14 09:41] davidmason commented on #108
That sounds right, although I would also suggest moving to 1.0.0 as soon as possible, then increment the feature and bugfix versions from there. Semver is a bit inconsistent for 0.x.x compared to other versions, so the default version setting in package.json from `npm install --save-dev eslint-plugin-angular` will not automatically pick up any bugfix or new-feature releases until the version is 1.

[2015-06-14 09:43] davidmason commented on #108
I submitted a pull request that I think will solve #107 (see #111). Let me know if there is any problem with the coding style or the behaviour and I can update it.

[2015-06-14 09:48] Gillespie59 commented on #108
for testing the coding style, you can run gulp quality (i think ;)). and add some unit tests

But of course I will have a look to your PR

[2015-06-14 09:53] Gillespie59 commented on #107
Hi @Delagen

Can you test with the code hosted on the 0.0.9 branch ? @davidmason has pushed a fix

[2015-06-14 10:03] Gillespie59 commented on #103
Hi @albertosantini  and @mattlewis92

I have just pushed a fix, thanks to your projects I used for my tests ;)

When I lint your project, I do not have any more problems.

Can you test on your side ?  If it is ok for you, I will create the 0.0.9 release.

Thanks

Manu

[2015-06-14 10:17] davidmason commented on #108
Already done :)

[2015-06-14 11:10] albertosantini commented on #103
@Gillespie59 Thanks a lot for the effort.

For me it is ok.

[2015-06-14 11:17] Gillespie59 commented on #103
@albertosantini  great news !:d

[2015-06-14 19:59] fabm22 opened #112 "2 rules with same name : "ng_on_watch""
There is two times the rule "ng_on_watch" on the list of rules here in the docs.

[2015-06-15 05:44] Delagen commented on #107
It's works. Thanks. Waiting for npm release

[2015-06-15 05:44] #107 closed

[2015-06-15 06:21] davidmason commented on #112
@fabm22 it looks like this is fixed in branch 0.0.9, which I think is quite close to release.

[2015-06-15 06:26] Gillespie59 commented on #112
I am waiting for a last feedback about my fix. And will do the release.

[2015-06-15 06:30] Gillespie59 commented on #112
This pb is due to a PR done on the master branch. Did not check before merging. Asked the commiter to do it again on the right branch.

[2015-06-15 07:51] mattlewis92 commented on #103
Just tested it and it's all working for me :)

[2015-06-15 14:44] fabm22 commented on #112
Thanks a lot for feedback

[2015-06-15 15:39] Gillespie59 commented on #112
0.0.9 released.
Thanks

[2015-06-15 15:39] #112 closed

[2015-06-15 15:39] Gillespie59 commented on #108
0.0.9 released.
Thanks

[2015-06-15 15:39] #108 closed

[2015-06-15 15:39] Gillespie59 commented on #103
0.0.9 released.
Thanks

[2015-06-15 15:39] #103 closed

[2015-06-15 15:44] mattlewis92 commented on #103
Great stuff, can you publish 0.0.9 npm as well please!

[2015-06-15 17:07] Gillespie59 commented on #103
Oops. I forgot. Long day today. I will do in few minutes
Le 15 juin 2015 17:44, "Matt Lewis" <notifications@github.com> a écrit :

[2015-06-15 18:05] Gillespie59 commented on #107
NPM release done

[2015-06-15 18:06] Gillespie59 commented on #103
NPM release done

[2015-06-15 18:43] albertosantini opened #114 "About ng_on_watch error"
I am confused.

It (the watcher) will effectively get removed once the scope is destroyed.
No need to destroy it manually. At least, in the main cases.

The details about ng_on_watch refer to Y035, but that link is about "Defer Controller Logic to Services".

Am I missing anything?

[2015-06-15 19:02] Gillespie59 commented on #114
It looks like the Y035 link in at the wrong place.

You should manually the method to unbind your $watcher during the $destroy event

[code]

[2015-06-15 19:16] albertosantini commented on #114
I don't see any recommendation about destroying manually the watcher.
I gave a look in John Papa's and Todd Motto's guides.

Maybe we may change the default.

[2015-06-15 19:21] Gillespie59 commented on #114
I do not remember where I found this best practice.

But you should listen to the $destroy event in order to unbind $watch watcher and stop timers for example.

Any remarks from somebody else ? ;)

[2015-06-16 00:28] davidmason commented on #114
I have just been looking into this, still more looking to do. Everything I read says that `$scope.$on` and `$scope.$watch` will be automatically unbound when the controller is destroyed.

If a controller is registering a listener on `$rootScope` it should probably be manually destroyed in `"$destroy"` since root scope will outlive all the controllers.

I cannot see anything on https://github.com/j

[2015-06-16 01:07] davidmason commented on #110
This change might be a good opportunity to increase the version to 1.0.0, since it is technically a breaking change. If someone has specified `eslint-plugin-angular` as a dependency but has not specified `eslint`, then has a script that uses `eslint`, their script would stop working.

[2015-06-18 09:26] mato75 opened #116 "Configuration is wrong"
Configuration for rule "no-underscore-dangle" is invalid:
	Value "false" is the wrong type.

[2015-06-18 10:51] Delagen commented on #116
It's eslint error in 0.23 i think. So instead of false use 0.

[2015-06-18 19:33] Gillespie59 commented on #116
Hi

We do not have any no-underscore-dangle rule in this plugin.

Manu

[2015-06-18 19:34] Gillespie59 opened #117 "Use inject instead of angular.mock.inject"
In Karma tests

[2015-06-18 19:35] Gillespie59 opened #118 "Angular mock test function : wrap service with _"
rule to check that injected service (in the function passed as a parameter of the angular mock function) are wrapped or not with _

The default value is "not wrapped"

[2015-06-18 19:38] Gillespie59 opened #119 "Do not use $q.deferred"
Instead wrap your code in the $q function

[code]

[2015-06-19 07:24] Gillespie59 opened #120 "GIT Merge information displayed in the README.md file"

[2015-06-23 09:13] fabm22 opened #122 "'ng_no_service_method' rule points to wrong John Papa's Angular styleguide recommendation (it seems)"
It seems the rule points to wrong style recommendation. I might be wrong but I think it should point to y40 instead. See :

(is)  https://github.com/johnpapa/angular-styleguide#style-y181

VS

(should be) https://github.com/johnpapa/angular-styleguide#style-y040

[2015-06-23 15:25] keirlawson opened #123 "angular.isBoolean does not exist, remove ng_typecheck_boolean"
This rule is enabled by default yet no angular.isBoolean function exists. It should be removed.

[2015-06-23 18:02] alecxe opened #124 "TypeError: Cannot read property 'value' of undefined"
Here the underlying js file where the error happens:

[code]

`eslint` throws the error message on the following line:

[code]

Stacktrace:

[code]

[2015-06-23 18:09] alecxe commented on #124
This is because the `controller()` is called without arguments, `ng_controller_name` assumes there is at least one argument given - a controller name. I think we should not assume that and skip `controller()` calls without arguments.

[2015-06-23 21:06] Gillespie59 commented on #124
Problem solved. and 0.0.12 release pushed.
Thanks.

[2015-06-23 21:06] #124 closed

[2015-06-23 21:06] #120 closed

[2015-06-23 21:07] Gillespie59 commented on #123
You are right. I do not know I have created this rule ;)
Thanks

[2015-06-23 21:16] Gillespie59 commented on #123
Problem solved. and 0.0.13 published on NPM.

Thanks.

[2015-06-23 23:17] alecxe commented on #124
Thank you for the quick fix!

[2015-06-24 14:40] taybin commented on #114
http://stackoverflow.com/questions/26983696/angularjs-does-destroy-remove-event-listeners

It looks like it's only necessary for cleaning up $on and $watch on $rootScope, not $scope.

[2015-06-27 12:08] Gillespie59 commented on #122
Thanks @fabm22

[2015-06-27 12:08] #122 closed

[2015-07-03 15:22] ben-barbier opened #130 "Add rule to alert on "replace" use"
```replace ([DEPRECATED!], will be removed in next major release - i.e. v2.0)```
(https://code.angularjs.org/1.4.1/docs/api/ng/service/$compile)

[2015-07-08 18:13] alexlrobertson opened #131 "Cannot read property 'name' of undefined: `angularObjectName = callee.property.name`"
This is the node where the error occured:

[code]

[2015-07-08 18:19] alexlrobertson commented on #131
It might help to note the rule: `ng_function_type` set to [2, 'named']

[2015-07-09 15:33] Medds commented on #131
I had this error, but managed to get over it by removing the variable references (don't ask me why it worked) in the ng_function_type.js rule settings.

The code that worked:
[code]

[2015-07-16 08:58] fabm22 opened #133 "Adding "Patterns/Anti-patterns" lint rules from official Angular repo"
As an **improvement**, it would be great to also check some Best-patterns/Anti-patterns from official Angular repo, particurarly the Anti-patterns which shouldn't be too hard to check.
( https://github.com/angular/angular.js/wiki/Anti-Patterns )

Also, potential convergence with John Papa's angular-styleguide request I made (wait and see). Link : https://github.com/johnpapa/angular-styleguide/issu

[2015-07-16 15:33] albertosantini commented on #110
I report this as memo. :)

Installed eslint `1.0.0-rc-1`

[code]

However eslint `1.0.0-rc-1` is installed in spite of the npm error.

[2015-07-23 14:50] Gillespie59 commented on #131
@alexlrobertson can you share the snippet of code that is the source of this error ? in order to create a new unit test, before starting to find a fix.
Thanks.

[2015-07-23 15:07] #119 closed

[2015-07-24 18:38] breandr commented on #99
I'm on 0.1.1 and getting this error on this:

[code]

The odd thing is that it's actually showing the error is on the `myModule` line

[2015-07-25 13:49] #114 closed

[2015-07-25 13:53] Gillespie59 commented on #114
I have just published a version 0.1.2 with a fix for this issue. Thanks

[2015-07-25 13:59] albertosantini commented on #114
Tested. Great!

Thanks for your effort.

[2015-07-26 20:47] #117 closed

[2015-07-26 21:05] Gillespie59 commented on #116
I closed this issue because this is nt an issue of the NG plugin.
We can open it back if needed.

[2015-07-26 21:05] #116 closed

[2015-07-27 21:17] Gillespie59 commented on #99
@breandr  what is your ESLint configuration for the ng_di rule ?

[2015-07-28 20:56] breandr commented on #99
"angular/ng_di": [2, 'function'],

[2015-07-29 13:19] keirlawson opened #137 "False positives when using .run() method"
The plugin is giving errors (`angular/ng_module_getter`, `angular/ng_di`) on the following line of my code:

[code]

Presumably because it has misidentified the `run()` call as an angular run block.

[2015-07-30 08:38] britter opened #138 "ng_di and ECMAScript 2015"
I'm using babel.js to transpile ECMAScript 2015 code to JavaScript. My ECMAScript looks something like this:

[code]

bable.js will transpile this to something like:

[code]

The transpiled code looks correct to me, nevertheless ng_di will be reported. Am I missing something? Is there a way to make eslint-plugin-angular aware of ECMAScript 2015?

[2015-07-30 14:07] bripkens commented on #138
The default configuration for `ng_di` is `'ng_di': [2, 'function']`. It looks like you are using the array notation though. Could you please try again with `'ng_di': [2, 'array']`?

[2015-07-30 14:12] bripkens commented on #138
Also, when using ES2015, you can use a [shorter syntax](https://blog.codecentric.de/en/2015/03/five-ways-to-write-better-angular-services/). For instance:

[code]

This way both dependency specifications are located near each other and updates are easier. Unfortunately it does not look like the `eslint-plugin-angular` does [not support](https://github.com/Gillespie59/eslint-plugin-angular/blob/d75

[2015-08-02 16:16] Gillespie59 commented on #137
This issue has been solved. And available in the 0.2.1 release.

Thanks @keirlawson

[2015-08-02 16:16] #137 closed

[2015-08-02 16:19] Gillespie59 commented on #138
Yes we do not expect this syntax for the moment.
We should be able to detect if we are using ES5 or ES2015 syntax (constructor functions or classes)

If classes are used, do the same check implemented in the ng_di rule, but with the getter of the $inject property.

[2015-08-02 19:21] bripkens commented on #138
Actually you do not need to detect ES2015 as this is standard Angular behavior supported in all JavaScript versions. See the documentation of `$injector` for information about the [`$inject` property](https://docs.angularjs.org/api/auto/service/$injector).

Meaning: The following code should be sufficient for the `ng_di` rule:

[code]

[2015-08-02 19:26] Gillespie59 commented on #138
You are totally right @bripkens . We can easily add the $inject property in our rule.

But, a more general question, should we start supporting ES2015 syntax ? like class ... I think so . But maybe we can create a second issue for that.

[2015-08-03 06:02] bripkens commented on #138
@Gillespie59 ES2015 support sounds great, especially since eslint supports ES2015.

[2015-08-03 06:47] Delagen commented on #110
+1

[2015-08-03 09:37] britter commented on #138
This fixes my problem. Although I'd like to be able to use the property dependency specification as suggested by @bripkens. It fits better into EC2015 code.

[2015-08-03 09:38] britter commented on #138
Closing this, because the problem can be fixed by using `'ng_di': [2, 'array']` in .eslintrc

Thank you!

[2015-08-03 09:38] #138 closed

[2015-08-03 09:42] britter opened #143 "Allow property based dependency specification"
As discussed in #138, ng_di currently doesn't allow property based dependency specifications like:

[code]

Proposal: add possibility to configure `'ng_di': [2, 'property']`

[2015-08-03 22:58] zachlysobey opened #144 "angular/ng_controller_as_vm: false positive in nested scopes inside controllers"
I'm getting the following error in my controller. I *am* using `vm` as suggested, but some of my methods reference (their own) `this`.

[code]

Here, `this` is *not* referencing the viewModel, and as such shouldn't trigger that error.

[2015-08-05 11:44] mastertinner commented on #105
I'm stillgetting this issue...

[code]

using 0.2.2

And the output is:
[code]

When removing the line ```cleanUp();``` there is no more error.

[2015-08-06 14:59] zachlysobey commented on #144
Not sure if a pull request with a failing test verifying the issue is proper etiquette, I'm new to contributing to Open Source projects. I'll see if I can take time later to see if I can enact the fix myself, but I might not be very effective at it.

[2015-08-06 18:45] Gillespie59 commented on #144
Perfect! ;)

[2015-08-06 19:10] Gillespie59 commented on #105
hi @mastertinner

I have pushed a fix for this issue, available on the 0.2.3 release

Thanks

[2015-08-06 19:10] #105 closed

[2015-08-06 19:49] Gillespie59 opened #148 "Create angular and target flags"
Be able to use two flags in order to create rules depending of the JS spec (ES5 or ES2015) and the version of angular (v1 or v2)

[2015-08-06 19:50] Gillespie59 opened #149 "$cookieStore deprecated"
In Angular 1..4, $cookieStore service is deprecated. We should create a rule in order to display a warning if this service is used.

[2015-08-06 19:51] Gillespie59 opened #150 "$http : success and error method are deprecated"
Should create a rule for detecting the use of the success and error method, that are now deprecated in 1.4

[code]

[2015-08-06 19:54] mastertinner commented on #105
That fixed my problem. Thanks so much for the quick reply @Gillespie59 !

[2015-08-06 20:01] #149 closed

[2015-08-06 20:04] Gillespie59 commented on #105
You're welcome ;)

[2015-08-09 11:55] Gillespie59 opened #153 "Rule detecting the use of $digest versus $apply"
According to this thread : https://github.com/Swiip/generator-gulp-angular/pull/705

The $digest mehod should be more performant than the $apply method.

We first have to deprecate the ng_no_digest rule, and a new one that will check the use of the $digest or $apply methods.

By default, the good value should be $digest.

[2015-08-09 11:58] #153 closed

[2015-08-09 13:05] britter commented on #143
In ES5 this should look like:

[code]

@bripkens can you confirm?

[2015-08-09 13:53] mastertinner opened #155 "Please support eslint 1.1.0"

[2015-08-09 15:28] bripkens commented on #143
@britter: Right, although from an AST point of view there are multiple ways to specify an `$injector` property. Although the one you mentioned is probably the most common.

[2015-08-09 17:22] Gillespie59 opened #156 "Rule to check the service used for sending HTTP request"
In order to be sure we use the same service everywhere : $http, $resource or Restangular

[2015-08-09 17:26] #156 closed

[2015-08-10 08:50] Delagen commented on #155
+1

[2015-08-12 09:05] AdriVanHoudt commented on #155
:+1:

[2015-08-12 20:07] Gillespie59 commented on #155
the migration is on progress, on a specific branch.
Still few things to do
- Define the schema for all rules
- Review Demos

[2015-08-14 20:39] alexlrobertson opened #158 "ng_controller_name false positives"
In a unit test, I'm using `element.controller()` to get an element’s controller, which is raising a false error.

[code]

[2015-08-15 10:18] Gillespie59 commented on #155
I think I have finished the migration. Can you have a look and test the migration-1.1.0 branch ?

If is OK for you I will create the 0.5.0 release.

[2015-08-15 10:32] Gillespie59 commented on #110
I will let you try the migration-1.1.0 branch  where I fixed this issue. If everything is OK I will create the 0.5.0 release

[2015-08-17 07:26] AdriVanHoudt commented on #155
Seems to work.
Although not sure why you hard setted all the deps https://github.com/Gillespie59/eslint-plugin-angular/compare/migration-1.1.0#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R17
And you missed some new lines at the end of files ;)

[2015-08-18 07:35] Gillespie59 commented on #155
Hi @AdriVanHoudt
Thanks for you feedback. I solved these small issues.

After the next :+1: , I will create the new release ;)

Manu

[2015-08-18 08:17] AdriVanHoudt commented on #155
LGTM :shipit:

[2015-08-18 08:45] remcohaszing opened #159 "Check for unused injected values"
If injected values are unused, this is mostly a result of forgetting to remove them.

The following should trigger a warning:
[code]

The following should not trigger a warning:
[code]

The rule should apply to all places where dependencies may be injected:

- factories
- services
- controllers
- directives
- decorators
- run
- config
- providers
- providers `$get` function.
- functions annotated

[2015-08-18 13:43] alexlrobertson commented on #159
Any reason [`no-unused-vars`](http://eslint.org/docs/rules/no-unused-vars) doesn't cover this for you?

[2015-08-18 13:50] remcohaszing commented on #159
`no-unused-vars` checks for unused variables. Typically functions may accept unused variables to pad the actually used variables. When injecting using AngularJS the variables are not used for padding, they are just unused.

`no-unused-vars` is triggered for this example:
[code]

But not for this example:
[code]

[2015-08-18 14:12] alexlrobertson commented on #159
You can set the "args" option to "all" and it will check for use across all parameters. This however presents issues with patterns where the parameters are fixed (i.e. directives).

[code]

I agree that this is an issue I'd like solved, but I think the cases where it applies are difficult to suss out.

[2015-08-18 18:19] Gillespie59 commented on #155
0.5.0 released :d

[2015-08-18 18:19] #155 closed

[2015-08-19 17:53] tilmanpotthof commented on #55
+1

[2015-08-19 17:54] tilmanpotthof commented on #56
+1

[2015-08-19 17:55] tilmanpotthof commented on #24
+1

[2015-08-20 11:21] tilmanpotthof commented on #56
Hi, I'm working on a solution.

https://github.com/tilmanpotthof/eslint-plugin-angular/tree/issue-56/Naming-Guidelines-Y120

So far I have a `typeSuffix` option to specify if and how the component type should be defined. The example in the issue does not match completely my approach, but I will fix that.

[2015-08-20 13:01] tilmanpotthof opened #162 "Create documentation for each rules with examples"
The way the rules are described on http://eslint.org/docs/rules/ give a great overview, and the further descriptions in the sub pages help to understand the rules in detail.

I'd suggest a folder `documentation` with a markdown file for each rule and a like to the existing list.

[2015-08-20 19:00] Gillespie59 commented on #56
Thanks @tilmanpotthof . I will have a look to your code asap. ;)

[2015-08-21 07:39] tilmanpotthof commented on #56
@Gillespie59 Thanks!

So far I added no documentation, as the feature is WiP but here an overview for the options.

`typeSeparator` - 'dot' | 'dash' | 'underscore'
`ignoreTypeSuffix` - true | false
`nameStyle` - 'dot' | 'dash' | 'underscore'

Valid examples for `app.controller('avangersController')`

avangersController.js - `{}`
avangersController.controller.js - `{typeSeparator: 'dot'}`
avangers.

[2015-08-21 10:48] tilmanpotthof commented on #24
This issue should be solved with a solution for #56

[2015-08-22 19:15] albertosantini commented on #110
I had the opportunity only now to test `0.6.0`.
It is ok.

[2015-08-23 09:16] Gillespie59 commented on #110
Thanks @albertosantini

[2015-08-23 09:16] #110 closed

[2015-08-23 15:28] #56 closed

[2015-08-23 15:35] Gillespie59 commented on #148
Done with the 0.5.0 release

[2015-08-23 15:35] #148 closed

[2015-08-23 15:52] Gillespie59 commented on #144
I do not know how can solve this issue. in fact your use case is quiet hard to detect :s

[2015-08-24 07:07] remcohaszing opened #177 "Rule names inconsistent with the standard ESLint ruleset"
The standard ESLint ruleset uses hyphens for the rule names. This plugin uses underscores. It might be better to stick to whatever ESLint uses, in order to keep more consistent `.eslintrc` files.

While at the issue of rule naming conventions; each rule uses the `ng_` prefix. In a `.eslintrc` file this results in prefix of `angular/ng_`.

The result this `.eslintrc` snippet:
[code]

I propose to u

[2015-08-25 15:26] alexlrobertson opened #178 "`ng_di_order`: `Cannot read property 'map' of undefined`"
The error is occurring at `rules/ng_di_order.js:21`:

[code]

The offending code is:

[code]

This is using:

* eslint-plugin-angular@0.7.0
* eslint@1.2.1

[2015-08-25 16:18] alexlrobertson opened #179 ""ng_file_name": add `ignorePrefix` option"
As per "ng_service_name," services should be prefixed with a namespace. I think it makes sense to ignore the prefix from filenames.

Before:

[code]

After:

[code]

[2015-08-25 16:27] alexlrobertson commented on #131
This seems to be resolved.

[2015-08-25 18:57] #131 closed

[2015-08-25 19:00] Gillespie59 commented on #178
@remcohaszing  is this issue resolved with your last PR ?

[2015-08-25 19:31] remcohaszing commented on #178
@Gillespie59 Yes it is. It no longer causes an error.

It doesn't check the DI order if a function isn't passed directly though. This requires further introspection.

[2015-08-25 19:37] Gillespie59 commented on #178
OK perfect ;)
I will publish the 0.8.0 release

[2015-08-25 19:37] #178 closed

[2015-08-25 20:20] #159 closed

[2015-08-26 12:46] Gillespie59 opened #184 "Component First Approach - Disable the use of the controller"

[2015-08-26 13:02] #184 closed

[2015-08-26 13:27] albertosantini commented on #30
Added a wiki page.

https://github.com/Gillespie59/eslint-plugin-angular/wiki/Configuration-for-client-and-server-code

[2015-08-26 13:27] #30 closed

[2015-08-26 13:31] albertosantini commented on #8
I have been using this script, as helper, to create the list of commits since last tag.

[code]

Then I copy and paste the output in the changelog and edit it manually.
It is not the perfect workflow, but for a low commits project might be enough.

[2015-08-28 13:55] Gillespie59 commented on #177
Good idea. But how we can avoid breaking every ESLint configuration file using our plugin ?

[2015-08-28 14:16] remcohaszing commented on #177
We can't without a hacky solution. I think this should be part of version 1.0.0. Bumping the major version may contain breaking changes conforming to [semver](http://semver.org).

I don't think this is a high priority issue, but when bumping to 1.0.0 for whatever reason could include this patch as well.

[2015-08-28 14:31] tilmanpotthof commented on #177
As long as the version is 0.x breaking changes are ok. How about a workaround (until 1.0) which allows both configuration styles, but the "old" style log a deprecation warning.

[2015-08-28 15:47] tilmanpotthof opened #186 "'ng_log' missing in rules and documentation"
ng_log is implemented and tested but not documented or even exported as rule.

[2015-08-28 15:55] tilmanpotthof commented on #123
Rule is still existent in the code.

[2015-08-28 16:17] Gillespie59 commented on #177
What about create a deprecated folder with the existing rules (with the underscore), in which we add a warning each time the rule is executed.

An in the current directory, a copy/past of each rule but with a "-"

Both directory will be injected in the index.js file.

By default, all rules with the underscore will be disabled.

[2015-08-28 16:25] tilmanpotthof commented on #177
I wrote an abstraction for the rule configuration which has the same effect. Just without copying the rules. The documentation is not updated.

https://github.com/Gillespie59/eslint-plugin-angular/pull/187

[2015-08-28 16:27] tilmanpotthof opened #188 "Tests do not cover if a rule is exported correctly."
The missing 'ng_log' rule was not detected by the tests, because the ESLint test approach imports the rules directly.

https://github.com/Gillespie59/eslint-plugin-angular/issues/186

[2015-08-29 08:56] #123 closed

[2015-08-29 08:56] #186 closed

[2015-08-29 08:56] #188 closed

[2015-08-29 09:02] Gillespie59 commented on #177
THanks a lot @tilmanpotthof

I have merged everything. If everything is OK, I will publish the 0.10.0 release this week-end.

Manu

[2015-08-29 10:58] tilmanpotthof commented on #179
@alexlrobertson Do you think one prefix is enough, or might be a list of prefixes better?

[2015-08-29 11:04] tilmanpotthof commented on #179
@alexlrobertson To prevent false positives I check that the next char is uppercase. Otherwise a prefix 'st' would be ignored for 'stAssetService' but also for 'stagingService' and report an expected filenane 'aging.service.js'.

[2015-08-29 11:42] tilmanpotthof opened #193 "Check json schema for config options"
'file-name' rule has no option schema definition. Check if other schemas are missing as well.

[2015-08-29 17:29] tilmanpotthof opened #196 "Use eslint for rules, tests and gulpfile"
Some files are inconsistent and eslint might help us.

[2015-08-30 08:52] Gillespie59 commented on #193
some of them do not have Schema def, because it impossible, I think, de define a parameter that can be a string OR a regexp (like controller-name).

[2015-08-30 08:54] #177 closed

[2015-08-30 08:54] #179 closed

[2015-08-31 17:39] apierzch opened #198 "controller-as rule matches $scope.on()"
Hi,
I believe controller-as rule should not fail on following code:

    $scope.on('myEvent', handleEvent);

I'm not setting properties on `$scope`, I'm calling its function.

[2015-08-31 17:52] apierzch commented on #198
I see my mistake already (it's `$on`) and that it's correctly working for `$on`, but I believe that if there is some custom method on $scope - no matter where it is set - I should be allowed to call it in controller. Hence, issue is still valid.

[2015-09-01 07:09] #158 closed

[2015-09-01 07:38] tilmanpotthof commented on #193
Ok, thanks for the information.

[2015-09-01 07:42] tilmanpotthof commented on #24
Is solved with the configurable 'angular/file-name' rule for Y120 and Y121.

#56

[2015-09-01 07:42] #24 closed

[2015-09-01 09:16] tilmanpotthof commented on #133
+1

[2015-09-02 10:06] tilmanpotthof opened #202 "Prevent usage of private object (prefixed with $$)"
Prevent the usage of internal undocumented objects and APIs. Breaking changes are not documented.

[2015-09-02 11:49] Gillespie59 commented on #202
What is the difference with the https://github.com/Gillespie59/eslint-plugin-angular/blob/master/rules/no-private-call.js rule ?

[2015-09-02 12:03] tilmanpotthof commented on #202
There is none. I just haven't checked that one. Sorry...

[2015-09-02 12:05] Gillespie59 commented on #202
no pb ;)

[2015-09-02 12:15] tilmanpotthof opened #203 "no-private-calls: report any property prefixed with $$"
The rule 'no-private-calls' covers 12 predefined properties, but the internal properties and methods can change in any minor or patch release without any mention in the changelog.

If there are any valid usages for $$-prefixed properties or methods, they should be whitelisted.

[2015-09-02 12:23] remcohaszing commented on #202
The AngularJS docs state

https://docs.angularjs.org/api

That rule checks for some specific variable names, while the docs actually state no variables prefixed with `$$` may be used.

[2015-09-02 12:25] remcohaszing commented on #202
See #203

[2015-09-02 12:25] #202 closed

[2015-09-02 12:41] tilmanpotthof commented on #203
Are their any properties that should be whitelisted?

[2015-09-02 13:10] remcohaszing commented on #203
Some libraries use `$$rAF`, though I don't think end users should use it.

[2015-09-02 13:49] tilmanpotthof commented on #203
@remcohaszing Ok thanks. I added an 'allow' option, so libs can define their own exceptions.

[2015-09-02 19:06] remcohaszing commented on #196
It is a bit ironic that an eslint plugin has such an inconsistent coding style.

I would like to implement this if @Gillespie59 agrees. I'm not sure what the deal is with @Gillespie59 self-assigning this issue and removing the assignment the same day.

[2015-09-02 19:18] remcohaszing commented on #8
I like the idea of sticking to the [AngularJS commit message conventions](https://docs.google.com/document/d/1QrDFcIiPjSLDn3EL15IJygNPiHORgU1_OOAqWjiDU5Y) and using `gulp-conventional-changelog` to generate the changelog.

A gulp task would look like this:

[code]

[2015-09-02 19:54] Gillespie59 commented on #196
Yes of course you can implement it @remcohaszing  ! thanks a lot for your amazing job you and @tilmanpotthof . I do not have a lot of time right now :(

[2015-09-02 19:56] #203 closed

[2015-09-02 19:56] #32 closed

[2015-09-02 20:00] tilmanpotthof commented on #196
@remcohaszing Would be great if you can fix that. I really had to be careful in some files with mixed spaces and tabs. ;-)

@Gillespie59 Time is limited. We all know that. Thanks for releasing the all he past changes so fast!!!

[2015-09-02 21:54] tilmanpotthof commented on #133
Here the 5 rules from the documentation.

1. Don't wrap element inside of $(). All AngularJS elements are already jq-objects
2. Don't do if (!$scope.$$phase) $scope.$apply(), it means your $scope.$apply() isn't high enough in the call stack.
3. Don't use jQuery to generate templates or DOM
4. Don't create a new plugin without trying to discover, fork and pull request existing plugins first
5. Don'

[2015-09-02 22:08] tilmanpotthof commented on #133
Rule 1 is partially covered by the 'angularelement' rule, but it the report gives a wrong hint for this use case ('You should use angular.element instead of the jQuery $ object')
Rule 2 is already covered by 'no-private-call' which forbids the usage of any $$-prefixed property.
Rule 3 is partially covered like rule 1, but a detection for DOM manipulation methods like append, prepend etc. might be

[2015-09-03 04:44] #196 closed

[2015-09-04 05:41] albertosantini commented on #21
Gist suggested in `conventional-changelog` project.

https://gist.github.com/stevemao/280ef22ee861323993a0

See also #8

(Maybe it would be better creating a new issue `Build automation` with a list of tasks and removing #8 and #21)

[2015-09-04 19:36] remcohaszing commented on #44
I think this rule would be pretty pointless.

I don't really see how those routes would get mixed up, unless there would be a uncommon corner case in which it would be odd to enable such a rule.

[2015-09-05 12:26] remcohaszing opened #213 ""dumb" spec inject function rule"
Typically an AngularJS test file looks similar to this.

[code]

I think it is more readable to keep the dependency injection separated from the other setup logic.

[code]

This rule comes down to: If `inject` is called, the passed function may only contain (sorted) statements of the form `arg = _arg_`.

[2015-09-05 16:49] Gillespie59 commented on #196
I have juste changed the milestone. Because I won't be able to do release this week. The 0.12.0 release will contain all PR sent next week

[2015-09-05 16:57] Gillespie59 commented on #213
I think this issue is related to #118

[2015-09-06 19:59] remcohaszing commented on #213
This rule implies #118 configured with `wrap`, which makes it somewhat related. This rule has far more restrictions though.

[2015-09-06 21:03] remcohaszing commented on #49
Unless an explicit rule is wanted just for directives, this is resolved by the component-limit rule.

[2015-09-06 21:03] #49 closed

[2015-09-07 19:39] #23 closed

[2015-09-07 19:40] #58 closed

[2015-09-07 19:58] princed commented on #58
Awesome! Thank you, @remcohaszing and @Gillespie59!

[2015-09-09 15:32] remcohaszing opened #216 "Implement di-order and di-unused for referenced functions"
`di-order` and `di-unused` check for the following syntax.
[code]

These rules should also check for functions passed by reference.
[code]

[2015-09-12 14:03] #150 closed

[2015-09-20 18:44] etsuo opened #222 "Cannot find module 'eslint-plugin-angular'"
Hi, I'm trying to integrate ESLint into my project and I'm running into the error: *"Cannot find module 'eslint-plugin-angular'"* when I run `$ eslint *.js`.

The only way I can get this to run is by installing eslint-plugin-angular globally, but that seems wrong (unless I'm missing something??).

I'm running:
* node v0.12.7
* npm 3.3.4
* eslint v1.5.0
* eslint-plugin-angular 0.12.0

ESLint is ins

[2015-09-20 22:16] Jbelmonte opened #223 "angular/module-getter and angular/di: false positive when calling providers' `config` method"
I'm getting both `angular/module-getter` and `angular/di` errors when validating a file containing `config` call of a module.

Here's the snippet:

[code]

And here the error in terminal:

[code]

Rule is failing in line 15 because of (_I guess_) a call to a method named `config`, but not in line 10 where provider's method is named `setOptions`.

None of them refers to a module variable.

[2015-09-21 18:03] etsuo commented on #222
Found the answer here: http://eslint.org/docs/user-guide/configuring#configuring-plugins

"Note: A globally-installed instance of ESLint can only use globally-installed ESLint plugins. A locally-installed ESLint can make sure of both locally- and globally- installed ESLint plugins."

This falls under read the fine print in the manual. :/ Sorry for the bother. Closing issue.

[2015-09-21 18:03] #222 closed

[2015-09-25 06:30] Medds opened #224 "angular/component-limit rule ambiguity."
Hello -
I have a question about the angular/component-limit rule:
We have it set at 1 component limit, but the code:
[code]

Is giving me errors on all $scope.$on listeners, saying I have 4 angular elements instead of one. Is this expected behaviour of the "angular/component-limit" rule, or is this a bug?

##### package.json
[code]

[2015-09-25 06:38] remcohaszing commented on #224
That's a bug. I'll look into it when I have time.

[2015-10-05 11:22] parky128 opened #226 "Using recommended eslint rules along with this plugin"
Hi,

I have recently integrated eslint into my angular application and soon realised I needed this repo's plugin in order to get my application to be linted correctly.

Prior to this, I was using the extends property in my `.eslintrc` file and setting to `eslint:recommended` to make use of the eslint recommended rule set.

[code]
I tested this worked by adding a trailing comma to an object definit

[2015-10-07 06:08] Gillespie59 opened #227 "[Rule] Detect the use of .then(function(){}, function(){})"
When using promise, we often use the `then` method with two parameters : one for success and one for error. Some guidelines explain that we should avoid the use of this signature, and use the `catch` method.

[code]

[2015-10-07 08:50] ptarjan opened #228 "Don't lint non-angular files"
I tried using your plugin, but part of my repo is angular and another part is just normal JS files. Can you only apply your rules if there is a `angular.module()` in the chain or something smart?

[2015-10-07 12:07] tilmanpotthof commented on #228
What kind of false positives do you have?

[2015-10-07 18:19] ptarjan commented on #228
Everything :)

[code]
[code]
[code]
[code]
[code]
[code]

[2015-10-07 18:32] remcohaszing commented on #228
It's not possible to determine which files you want to lint. This is a personal preference.

If your code base separates the angular part and the non-angular part, you could implement this yourself though.

Assuming you have the following layout

[code]
Where `app/.eslintrc` contains your common settings, `app/non-angular/.eslintrc` contains your non-angular specific rules and `app/angular-app/.es

[2015-10-07 18:42] ptarjan commented on #228
I often intermix pure JS modules in the same dir as my angular services or controllers.

Could this plugin just make sure there is a user of `angular.module` in the file before it reports anything?

[2015-10-08 09:29] Gillespie59 commented on #228
I think it is not possible to detect code inside `angular.module`, because developers can use AMD or CJS module.
We can define the implementation of the AngularJS component in a file, and include it in the AngularJS architecture (via filter/directive/service/controller..) in another file.
In the first file, we do not have any `angular.module` call, so it is not possible to detect AngularJS code in

[2015-10-08 09:58] ptarjan commented on #228
Can you only lint inside a angular.controller and angular.service etc.?

Sent from my iPhone

[2015-10-08 15:08] jeffcharles opened #229 "function-type rule does not recognize inline named functions properly"
I have some code that looks like this:

`.factory('myHttpInterceptor', function myHttpInterceptor($localStorage, configuredToken) {`

and I'm getting an error on the module indicating that I should use a named function instead of an anonymous function. I wasn't expecting that error because the function is named.

The code for the rule looks like it has an error https://github.com/Gillespie59/eslin

[2015-10-11 13:35] Gillespie59 commented on #228
As I tried to explain I think it is not possible. For exemple, imagine I have an ES2015 service class in a service.js file :

[code]

And in other file, I register this service into Angular via an application.js file :

[code]

How can we detect, in the service.js, that the class is in fact an AngularJS Service component ? I think it is impossible.

Manu

[2015-10-11 19:59] ptarjan commented on #228
I agree. JavaScript is Turing complete so you can't know if something will be registered as a controller unless you execute it. But as with all static analysis, you do your best. My vote is to err on the side of false negatives not false positives for a linter. So only yell if you are sure it is a controller or service or whatever and the slowly get smarter about detecting them.

Sent from my iPho

[2015-10-12 09:26] tossp opened #231 "angular/on-watch error"
hi,guys
How do I fix this error？

Error Messages：
[code]
Corresponding Source：
[code]

[2015-10-12 10:04] tilmanpotthof commented on #231
Documentation: https://docs.angularjs.org/api/ng/type/$rootScope.Scope - Returns a deregistration function for this listener.

    var deregisterationCallback = $rootScope.$on(....
    $rootScope.$on('$destroy', deregistrationCallback)

http://stackoverflow.com/questions/25113884/should-angular-watch-be-removed-when-scope-destroyed

[2015-10-12 10:52] tossp commented on #231
@tilmanpotthof Thank you very much!

[2015-10-12 10:52] #231 closed

[2015-10-12 22:42] tilmanpotthof opened #232 "definedundefined does not cover typeof checks"
Check undefined with `typeof` is a common pattern (as undefined could be overwritten in older browsers) and the angular.isUndefined implementation itself uses it (https://github.com/angular/angular.js/blob/master/src/Angular.js#L478).

Therefore these checks should be disallowed as well.

    typeof variable == "undefined"
    typeof variable !== "undefined"

[2015-10-12 23:10] tilmanpotthof opened #233 "angular.isRegexp is no angular function"
The `angular.isRegexp` function seems to belong to a third party module: https://github.com/pbakondy/angular-typecheck

It should be deprecated and moved to another project or at least mentioned in the docs.

[2015-10-13 14:49] Offirmo opened #234 "Cannot find module 'eslint-plugin-angular'"
I tried eslint-plugin-angular but I don't want it anymore (for now)

I've removed it from .eslintrc config (plugin [] )

I've removed it from my dependencies (both in package.json and with npm prune)

However when I run eslint (local), it fails, still asking for eslint-plugin-angular

How is it possible ??

[2015-10-13 14:52] tilmanpotthof commented on #234
Is it possible that you still have rules configured in .eslintrc? Removing the plugin is not enough, if you configured some rule.

[2015-10-13 14:52] Offirmo commented on #234
Thanks. But I already commented out all the rules refering to angular...

[2015-10-13 14:54] Offirmo commented on #234
Found the problem : a sub-module not outside eslint reach is asking for angular plugin.

thanks

[2015-10-13 14:54] #234 closed

[2015-10-13 14:55] tilmanpotthof commented on #234
Allright.

[2015-10-13 16:03] tilmanpotthof commented on #226
According to the latest eslint documentation and a local setup test, it is possible to configure extends as array like you described it.

You probably need to upgrade to the latest eslint version.

http://eslint.org/docs/user-guide/configuring#extending-configuration-files

[2015-10-13 16:03] #226 closed

[2015-10-13 16:27] tilmanpotthof commented on #229
Thanks for the detailed description. I can reproduce the behavior in a unit test.

[2015-10-13 16:56] tilmanpotthof commented on #229
Should be fixed in the next version.

https://github.com/Gillespie59/eslint-plugin-angular/pull/235

[2015-10-13 21:20] tilmanpotthof commented on #144
Although the use of `this` may be useful in this case, it is quite confusing because you can not know what `this` is when you define a function on your controller. Even if we find a way to detect this pattern, it is more likely to miss potential errors than false positives as in your case.

My recommendation is to either find another way without `this` (pass a parameter) or to disable the rule for

[2015-10-13 21:54] tilmanpotthof commented on #228
We could add a global setting and turn off the rules based on some heuristics. The detection might be incomplete, but it's a tradeoff.

  "settings": {
    "angular/detect-angular-context": ["module-setter"]
  }

It think the simplest way it to look for a module getter or setter and then use the rules for the complete file. It might be also possible to check all parent nodes for a certain node, bu

[2015-10-14 06:58] tilmanpotthof commented on #198
I think a custom method $scope.myCustomMethod must be initialized on some parent scope and than your independent controller depends on code from a higher scope. Therefore I'm not sure if this example is valid. I mean, it is valid scenario but looks still like a use case with better possible solutions. Please correct me if I've overseen something.

[2015-10-14 11:01] tilmanpotthof commented on #229
PR is merged.

[2015-10-14 11:01] #229 closed

[2015-10-14 18:24] remcohaszing commented on #228
I think it is a per rule setting which ones should be enabled.

I agree with @ptrarjan that the following errors should only be detected when inside of an AngularJS component:
[code]
[code]

However, these rules could still apply when used outside of an AngularJS component. This is purely a preference. These rules can be disabled using `/* eslint-disable angular/<rule_name> */`.
[code]
[code]
[cod

[2015-10-16 20:03] jeffcharles opened #239 "Rule for warning about using `throw` in `catch` functions"
I have a suggestion for a rule that would be very useful for me. I'd like to know if a contributor is using `throw` inside a $q `catch` implementation and suggest they use `return $q.reject` instead. The problem with throw with $q is that Angular's implementation always sends what's thrown to the $exceptionHandler even when it's caught later whereas `$q.reject` doesn't.

[2015-10-19 11:48] keirlawson opened #240 "module-getter rule false positive"
This rule is getting triggered for the following code:

[code]

[2015-10-19 17:55] Gillespie59 commented on #240
Thanks @keirlawson

Could you send a PR with a failing unit test ? ;)

Manu

[2015-10-23 13:43] flipjs commented on #99
I am getting this error too from gulp-eslint when using the value service for arrays. Here's the code:

[code]

But when I change the service to constant (same code, just the literal word 'value' changed to 'constant'), no errors reported.

[2015-10-25 20:43] Gillespie59 commented on #233
I neve realized thius method never exist. I do not why I have created this rule :D. I think we should deprecated this rule.

[2015-10-25 20:47] Gillespie59 commented on #233
I will deprecate the rule for the 0.13.0 release, but keep this issue opened in order to remember than we have to remove it for the 1.0.0 release.

[2015-10-28 20:23] mradionov commented on #228
Another solution could be to disable the entire plugin from within a file via inline comments, but it seems to be not supported by eslint yet (https://github.com/eslint/eslint/issues/3419)

[2015-10-30 12:22] tilmanpotthof opened #243 "default value for controller-as-vm"
The rule controller-as-vm has no default value and I found no way to check the existence of a value with the json schema.

    module.exports.schema = [{
        type: 'string',
        minLength: 1
    }, {
        type: ['object', 'string']
    }];

A missing value lead to this error message.

    You should assign "this" to a consistent variable across your project: undefined

Therefore I think

[2015-10-30 12:24] tilmanpotthof commented on #243
This is just an issue in the test scope.

[2015-10-30 12:24] #243 closed

[2015-10-31 11:10] tilmanpotthof commented on #162
@Gillespie59 @remcohaszing

I have a draft for a setup to generate documentation from comments and example files. The goal is to have a setup were every code example is tested with the documented configuration and to have a easy mechanism to generate documentation.

- Docs are generated to the `docs/` folder
- Basic documentation is added as comment in the rules themself
- Examples are in the `exa

[2015-10-31 12:09] remcohaszing commented on #162
This is really cool!

Some ideas for improvement popped into my mind:

- Add a standarized way to document and render links to Johnpapa's style guide

[code]

- Comments on shema definitions could be parsed to render documentation on what values are acceptible.

Also a policy should be documented on whether rendered docs **should** or **should not** be committed with changes.

[2015-10-31 12:51] tilmanpotthof commented on #162
@remcohaszing Thanks for the input and positive feedback. I like both ideas and will integrate them as soon as possible.

I agree to your policy suggestion. I think the generated docs should be in sync with the source and examples. Probably a pre-commit hook could help to automate or check this.

[2015-10-31 15:21] tilmanpotthof opened #248 "remove undocumented and unnecessary option for no-service-method"
The invalid tests for `no-service-method` configure a prefix and the rule checks it's existence, otherwise the rule doesn't not work. To me it seems like a copy-paste-bug. Therefore I think we should remove it.

[2015-10-31 23:12] tilmanpotthof commented on #228
... or the angular components could be ignored using some filename conventions.

[2015-11-01 09:16] #248 closed

[2015-11-01 17:43] tilmanpotthof commented on #162
@remcohaszing I added a tag to define styleguide references in b0d560c. The syntax is independent from references to johnpapa's styleguid and it is possible to add further sources in the future.

    @styleguideReference {johnpapa} `y040` Services - Singletons

I also added a `@version` tag and looked up the versions for all rules.

[2015-11-01 17:48] remcohaszing commented on #162
Nice!

[2015-11-02 16:26] tilmanpotthof commented on #228
Another suggestion. We provide different configurable heuristics for detecting angular files.

    "settings": {
        "angular/only-lint-matching-files": {
            // configured heuristic
       }
    }

Ideas for such options...

* `"code-patterns": ["module-setters", "module-getters", "angular-object"]`
  * `["module-setters"]` - presence of a module setter
  * `["module-getters"]` - pres

[2015-11-02 20:05] mradionov commented on #228
I've added a proof of concept to my fork ([here](https://github.com/mradionov/eslint-plugin-angular/commit/d5a305f79e7c4779b444d223b91c0db35fb52afc)), which kinda allows to control whether or not plugin rules will be executed. It looks hacky, but might work. Basically it uses local variable to block rule execution from within a plugin, it resets the variable after each file ends and updates variab

[2015-11-03 00:31] tilmanpotthof opened #252 "TypeError for describe-block with no-service-method rule"
The `no-service-method` rule throws an error when checking a jasmine describe block

    describe("", function () {})

... leads to:

    TypeError: Cannot read property 'name' of undefined

This is caused by a missing check for the existence of `node.callee.property`.

[2015-11-03 01:52] tilmanpotthof commented on #228
@mradionov Nice. Your proof of concept seems to work, but as you already said, it is a little hacky and I fear it may be hard to predict side effects.

I took a part of your approach to disabled rules by a filename pattern as another proof of concept.

[2015-11-03 08:22] #252 closed

[2015-11-04 22:38] gitnik commented on #231
Does this really make sense? Shouldn't this lint ignore the `$rootScope`. Destroying the `$rootScope` implies the app being teared down, which makes unsubscribing kinda useless

[2015-11-05 14:12] vrockai commented on #240
There seem to be another false positive for this rule, should I create a new issue for that? It happens when an object has the `config` method, like:
[code]

The ESLint errors than go like this:
[code]

[2015-11-05 17:20] tilmanpotthof opened #255 "Rule 'directive-scope' for explicit scopes"
Add a rule similar to 'directive-restrict'.

     {"restrict": "AE", "explicit": "never"}

'directive-scope'

    {"scope":["child", "isolate"], "explicit": "always"}

[2015-11-06 12:33] kuhnroyal commented on #240
Same here:

[code]

[2015-11-06 15:59] vrockai opened #256 "on-watch false positive when using event name from constant"
I got several of these errors:
`N:M  error  The "$on" call should be assigned to a variable, in order to be destroyed during the $destroy event  angular/on-watch`

only because I've put all my event name strings into constants, so I deregister events like this:
`$rootScope.$on(myEventNameConstants.scope.destroy, foo);`

Workaround:
Don't use variable for the '$destroy' event name.

[2015-11-08 16:26] #162 closed

[2015-11-10 08:25] palortoff opened #258 "Do not enable rules be default"
eslint built-in rules are not enabled by default.

By enabling rules by default you force projects that do not want to enable all the recommended rules to clutter the eslint configuration file with deactivated rules.

[2015-11-10 08:33] remcohaszing commented on #258
I totally agree.

This would be a breaking change though. I suggest to implement this for version 1.0.0.

[2015-11-10 22:02] palortoff commented on #258
I just created [eslint-plugin-angular-off](https://github.com/palortoff/eslint-plugin-angular-off) as a wrapper with all rules disabled by default.

[2015-11-10 22:50] tilmanpotthof commented on #258
+1

Thanks for the pragmatic solution until 1.0.0.

[2015-11-11 10:26] tilmanpotthof opened #259 "component-limit false positives"
The following examples are detected as components and therefore exceed the component limit.

    app.service("", function(myService) { var data = {}; myService.someMethod("", data); });

... second example ...

   $httpBackend.expectGET("").respond(200, dummyData);
   $httpBackend.expectGET("").respond(200, dummyData);

The reason seem to be the misleading utils method `utils.isAngularComponent` u

[2015-11-11 10:44] tilmanpotthof opened #260 "Regression tests with some big angular apps"
Regarding a 1.0.0 release it would be great to have a set of big real world application which follow a lot of the plugin rules and can be used to verify regressions that may not be covered by our unit tests.

I can imagine different scenarios how this could work. Two examples...

1. Simple but manual

Before each release some of use build the plugin locally and run the check against applications w

[2015-11-11 11:06] remcohaszing commented on #260
Sounds cool. What about trying to convince the [angular-material](https://github.com/angular/material) team that it's a good idea to use (ESLint and) this plugin?

They seem to follow some of our rules (e.g. file names) and it's officially supported by the AngularJS team. They just haven't automated some of the checks yet. ;)

[2015-11-11 11:18] tilmanpotthof opened #261 "Keep defaults in README consistent with those from index.js"
There are some inconsistencies between the defaults in the README and the index.js.

[code]

The sections should be generated by the docs task like the rules section.

[2015-11-11 12:08] gitnik commented on #223
+1 for `angular/di` failing on config

[2015-11-11 12:22] gitnik commented on #231
I would love to submit a PR if this behaviour is not wanted

[2015-11-11 12:46] tilmanpotthof commented on #231
@gitnik Good point. I think unsubscribing from the $rootScope does not make sense, at least with the `$destroy` event.

... or did I miss something? @remcohaszing @Gillespie59

[2015-11-11 13:04] remcohaszing commented on #231
Seems legit.

[2015-11-11 13:55] tilmanpotthof commented on #260
Good idea. As they are not using ESLint so far, we should check there contribution guidelines carefully to not run into some bureaucratic problems ;-) I could do that or would you like to?

Any other project suggestions?

[2015-11-11 16:08] gitnik commented on #231
OK I will submit a PR then :-)

[2015-11-11 21:23] gitnik commented on #231
Shouldn't this actually only lint `on`? Removing `$watch` is not needed, as the previously SO answer already explains

[2015-11-12 05:59] laurent-le-graverend commented on #231
:+1:

[2015-11-13 10:18] palortoff opened #263 "Rule di-order is not working if named functions are used in angular components"
This should be found by ``di-order``:

[code]

[2015-11-13 21:49] gitnik commented on #231
https://github.com/Gillespie59/eslint-plugin-angular/pull/264

[2015-11-15 11:20] faceleg opened #265 "Possible false positive for angular/di"
The offending code

[code]

[2015-11-15 11:23] faceleg commented on #265
I'm a moron.

[code]

[2015-11-15 11:23] #265 closed

[2015-11-16 09:14] palortoff opened #267 "Update the process of creating a new rule"
On the development branch we need to add a comment to the rule and provide examples.

This does not match the [howto](https://github.com/Gillespie59/eslint-plugin-angular/tree/development#how-to-create-a-new-rule) in the readme

[2015-11-16 09:16] palortoff opened #268 "Example parser does not allow examples with multiple errors"

[2015-11-16 09:41] tilmanpotthof commented on #268
That's for the report. I'll have a look at this issue.

[2015-11-16 10:02] tilmanpotthof commented on #268
@palortoff Can you please add your use case as comment? It was quite easy to make add multiple errors for the documentation test, but I fear it's complicated to generate good examples in the documentation. A specific use case could help to reason about this.

[2015-11-16 11:05] palortoff commented on #268
@tilmanpotthof

for the new rule in PR #269 I would have liked to have made the example

[code]

This would have failed on ``'$q'`` and ``$q``

[2015-11-16 11:08] tilmanpotthof commented on #268
@palortoff Ok, I understand. I'll add this feature to the docs script.

[2015-11-16 19:10] Gillespie59 opened #271 "Use component API instead of the directive API"
With AngularJS 1.5, we have now a new way to create directive, thanks to a new `component` method. This method will make the migration to Angular2 easier.
We should create a rule that will verify the use of this new method instead of the old one.

[2015-11-16 19:14] tilmanpotthof commented on #271
I think we should add a tag to the documentation for which angular versions a rule makes seance, to help users to identify useful rules for their project.

[2015-11-17 23:07] apierzch commented on #198
Sorry, I missed it in my emails.
I agree with you, however it deserves separate rule or separate config option. "controller-as" says "You should not set properties on $scope in controllers". Maybe let's make a rule "controller-as-use" or similar to say "You should not use properties or methods on $scope in controllers" ?

[2015-11-18 00:00] charneykaye commented on #231
Any reason not to do this?

    $rootScope.$on('$destroy', $rootScope.$on(EVENTS.changeRegion, function() {
      vm.nowRegion = OpsService.getRegion();
    }));

[2015-11-18 19:26] Gillespie59 commented on #271
+1
Should we use the angular setting I have already defined in order to detect Angular 1 or 2 ?
This value could be equal to any Angular version : 1.4, 1.5 or 2
What do you think ?

[2015-11-18 20:08] Gillespie59 commented on #240
I solved the first issue. But the last 2, I do not know how we can solve it.
The problem is the `config` method. We can not detect that your providers is not an angular module easily.

[2015-11-18 20:20] Gillespie59 commented on #223
I think the `angular/di` is normal.
The problem is the `ngTableHelperProvider` provider that is detect as a angular module in the module-getter rule.
We have other use-cases : `$router.config`, $ocLazyLoadProvider.config`, and `$localForageProvider.config`

[2015-11-18 20:21] Gillespie59 commented on #240
I close this issue. See #223

[2015-11-18 20:21] #240 closed

[2015-11-18 20:27] Gillespie59 commented on #256
I have just checked, and the problem do not come from the constant. You should assign the result of the `$on` method to a variable, that will be use later in order to remove all useless data.

[2015-11-18 20:27] Gillespie59 commented on #256
`var v = $rootScope.$on(myEventNameConstants.scope.destroy, foo);` for example

[2015-11-18 21:31] remcohaszing opened #273 "Disallow use of angular functions"
There are rules which enforce the use of AngularJS functions.

**Good**

[code]

**Bad**

[code]

I think these should all have an opposite variant as well:

**Config**

[code]

**Good**

[code]

**Bad**

[code]

I figured the value of this extra property can be `always` or `never`, because this matches a lot of builtin ESLint rules.

[2015-11-19 09:10] tilmanpotthof opened #274 "Document angular versions for rules"
There are rules that do not work for all angular version. Therefore the documentation should tell a user for which angular versions a rule makes sense.

Examples - controllerAs was introduced in angular 1.2

[code]

I have no example, but there might be rules that just make sense until a specific angular version. Therefore we might also add a `@untilAngularVersion` tag as well.

[2015-11-19 09:10] tilmanpotthof commented on #271
I opened a ticket for this.

https://github.com/Gillespie59/eslint-plugin-angular/issues/274

[2015-11-20 00:07] maksimr commented on #223
Have the same problem. @Gillespie59 what I should do to fix this problem? Why `ngTableHelperProvider` is detected as a angular module?

[2015-11-20 00:40] maksimr commented on #216
+1

Also di-unused does not work with array notation `['$log', function($log){...}]`

[2015-11-21 12:37] maksimr commented on #268
@tilmanpotthof what about this issue? It seems this issue stop publishing 0.14 version.

[2015-11-22 06:51] tilmanpotthof commented on #268
@maksimr Thanks for the reminder. I could not decide between errorMessage and errorMessages ;-) I opened a PR.

[2015-11-22 11:36] Gillespie59 commented on #268
I think we can now close this issue ? as I have merged you PR.

[2015-11-22 13:39] Jbelmonte commented on #223
@Gillespie59 may it be caused by a `.config(...)` call? May some code assume that `config` method calls are always associated to a module definition?

[2015-11-22 14:09] tilmanpotthof commented on #268
I think the PR fixes everything described by @palortoff

If anyone disagree, please reopen the issue.

[2015-11-22 14:09] #268 closed

[2015-11-22 21:23] remcohaszing commented on #224
#283 doesn't fix this issue, but it does issue no longer exists in the development branch.

[2015-11-22 21:23] #224 closed

[2015-11-22 21:23] remcohaszing commented on #259
#283 doesn't fix this issue, but it does issue no longer exists in the development branch.

[2015-11-22 21:23] #259 closed

[2015-11-22 21:41] remcohaszing commented on #223
Currently there is no angular module detection at all. To solve this problem in a more generic way I created `angularRule`.

I suggest the following:

* Let `angularRule` pass the resolved variable resolved by ESLint into the `angular:*` functions.
* The rule implementation is now as simple as:
  * If the second argument passed to the `CallExpression` node is an array, the array syntax is used.

[2015-11-22 21:51] remcohaszing commented on #263
#283 doesn't fix this issue, but it does issue no longer exists in the development branch.

[2015-11-22 21:51] #263 closed

[2015-11-22 22:10] tilmanpotthof commented on #267
PR https://github.com/Gillespie59/eslint-plugin-angular/pull/284

[2015-11-22 22:52] remcohaszing commented on #216
#283 doesn't fix this issue, but it does issue no longer exists in the development branch.

[2015-11-22 22:52] #216 closed

[2015-11-23 06:42] maksimr opened #285 "Publish version 0.14"
Seems [milestone 0.14.0](https://github.com/Gillespie59/eslint-plugin-angular/milestones/0.14.0) closed and we can publish it on npm :)

Thanks!

\cc @Gillespie59

[2015-11-23 19:16] Gillespie59 commented on #285
Done

[2015-11-23 19:16] #285 closed

[2015-11-23 20:52] sbalay opened #287 "angular/di-unused: does not work with array syntax?"
**di-unused** rule does not seem to work when using the array syntax for dependency injection. Would it be possible to extend the rule to support array syntax?

[2015-11-23 21:39] remcohaszing commented on #287
`eslint-plugin-angular` version `0.14.0` has been released about 2 hours ago. Try bumping to this version. If this doesn't help, please provide an example which doesn't work as expected.

[2015-11-23 23:37] Sandstone-WeiWenHo opened #288 "README.md no longer references John Papa's Style Guide"
The **Rules** section in `README.md` no longer contains references to which John Papa Style Guide Rule they implement (where relevant).

* Is this intended?
* If so, then the **Summary** needs to be updated as well, since it mentions that

I see that the references to the John Papa Style Guide are now included in the individual `*.md` files, but I personally found it a lot more helpful to have the

[2015-11-24 08:36] tilmanpotthof commented on #288
Thanks for the report. It was intended to shorten the section and put the details into separate pages, but I see no problem the add a short note to the descriptions.

The docs are now generated and we just have to change the template for the rules section.

[2015-11-24 08:44] remcohaszing commented on #53
I would like to implement this for the next version.

My initial idea was to check for call expressions which may or may not be member expressions. These call expressions may not take any arguments:

**good**
[code]

**bad**
[code]

I'm working on a Cordova project, in which a splash screen is used. This allows to use asynchronous setup in which the splash screen is removed as the last part in a p

[2015-11-24 11:40] sbalay commented on #287
I've tested this with a file named *percentageFilter.js* which contains the following code
[code]
In that case, no warning is displayed when running ```eslint percentageFilter.js```

After changing the content of the file to
[code]
Still, no warning is displayed, although, the $translate dependency is never used

[2015-11-24 11:41] sbalay commented on #287
Forgot to mention that I'm using the version ```0.14.0``` of eslint-plugin-angular

[2015-11-24 18:40] remcohaszing commented on #287
I am unable to reproduce this bug.

Since you reported this about an hour after the release which should have fixed this, it sounds very likely to me that you're running an older version.

* Is it possible that you bumped the version in `eslint-plugin-angular` in your `package.json`, but forgot to run `npm install`?
* Do you try to run a globally installed `eslint` while using a locally installed

[2015-11-26 16:41] tilmanpotthof commented on #144
@zachlysobey You could also pass your style object as parameter.

    vm.handleDragStart = function(event, style) {
      style.opacity = '0.4';
      vm.dragging = true;
    };

@Gillespie59 I close this issue and the PR #146. I see still no reasonable way to differentiate between both patterns.

[2015-11-26 16:41] #144 closed

[2015-11-26 16:46] tilmanpotthof commented on #288
PR #289

[2015-11-30 13:12] #288 closed

[2015-11-30 13:26] #267 closed

[2015-11-30 15:28] Gillespie59 opened #291 "Doc: isArray : Wrong example"
the following example should fail I think

[code]

[2015-12-02 14:47] jbcpollak opened #293 "Confused about no-invalid-this"
Hi,

In angular its common to write a controller like this:

[code]

When I run eslint with the angular plugin enabled, I get this error:

[code]

What is the recommended configuration in this case? Should I just disable no-invalid-this?

[2015-12-02 15:44] Gillespie59 commented on #293
I think this `no-invalid-this` is not enabled by the AngularJS plugin. It is a rule defined directly in ESLint : http://eslint.org/docs/rules/no-invalid-this.html

According to the documentation, you should disable it, because `this` should be used in class or similar object.

[2015-12-02 15:48] tilmanpotthof commented on #293
The rule `no-invalid-this` belongs to the eslint core rules and not to angular plugin rules. It wants to protect you from using this outside of constructors and methods, but it makes no sense in an angular controller (docs: http://eslint.org/docs/rules/no-invalid-this).

You can disable it in your eslint config globally or for single files, even for lines.

    /* eslint-disable no-invalid-this */

[2015-12-02 15:48] #293 closed

[2015-12-02 15:50] tilmanpotthof commented on #291
Why should it fail?

[2015-12-02 16:42] jbcpollak commented on #293
Thanks, this answers my question.

I knew it was part of the core rules, (we have it enabled through the [eslint-config-defaults](https://github.com/walmartlabs/eslint-config-defaults) project)
but I wanted to ask what the angular best practices were, and I figured this would be the best place to ask.

I'm just throwing this out there, but what do you think about providing an alternate `no-invalid

[2015-12-02 17:37] sbalay commented on #287
@remcohaszing thanks for the quick responses.
Didn't understand why your last example shouldn't get reported.
[code]
That code _should_ get reported because the $translate dependency is being injected but is not being used.

In my case, I have the following case which I think should get reported but it is not happening

[code]
This should be invalid because the $translate dependency is being injec

[2015-12-02 19:30] cafesanu opened #294 "No reference to $digest deprecation"
Hi,
About the `angular/no-digest`.I tried to find any link regarding the deprecation of $digest in favor of $apply with no luck. If there is no such a notice from the angular team, Is there a reason this should be a rule?

Thanks! awesome job with this eslint plugin!

[2015-12-02 19:45] tilmanpotthof opened #295 "Misleading deprecation notices - rule deprecation vs. angular feature deprecation"
The `DEPRECATED!` information in the rule overview can be interpreted as deprecation of the rule itself (correct) or as information that an angular feature is deprecated (wrong).

Example from an Issue (#294):

* no-digest - DEPRECATED! use $apply() instead of $digest() (replaced by watchers-execution)

[2015-12-02 19:53] tilmanpotthof commented on #294
The deprecation notice is misleading. The rule itself is deprecated, not the usage $digest.

As far as I know there is no argument to use $apply instead of $digest. There is also no such mention in the styleguide by john papa and todd motto even recommends the usage of $digest for performance reasons (if possible) https://github.com/toddmotto/angularjs-styleguide#performance.

If you want to enfor

[2015-12-02 19:53] #294 closed

[2015-12-02 19:54] tilmanpotthof commented on #294
... and thanks for the feedback! :-)

[2015-12-03 17:04] cafesanu commented on #294
:+1:

[2015-12-03 21:19] remcohaszing commented on #53
Never mind about the asynchronous setup. This is a very specific use case and even *if* this is the case, the setup can still be delegated to a service.

[2015-12-03 21:27] Gillespie59 commented on #291
According to the unit test : https://github.com/Gillespie59/eslint-plugin-angular/blob/master/test/typecheck-array.js

For testing array object,, this rule recommend the use of `angular.isArray()`

[2015-12-03 21:29] Gillespie59 commented on #295
It's quiet difficult to find a better term. We always use DEPRECATED for our own API, and not for an external framework's API. Maybe change to "RULE DEPRECATED" ?
What do you think ?

[2015-12-03 21:46] tilmanpotthof commented on #291
The test `Array.isArray(someArray)` should fail, but `angular.isArray(someArray)` should not fail.

The example for `angular.isArray(someArray)` says: The following patterns are **not** considered problems;

... and that is correct, as far I a understand the rule.

[2015-12-03 21:48] remcohaszing commented on #295
Why not use the standard jsdoc tag `@deprecated` for deprecation of rules? (It even gets highlighted in several editors.)

[code]

For rendering the readme the deprecation could be rendered before the hyphen, so it's obviously not part of the description

[code]

The generated docs could then contain a section separately from the actual description of the rule stating why the rule is deprecated.

[2015-12-03 22:01] remcohaszing commented on #4
@Gillespie59 Do you have examples of what kind of properties would you like to validate?

[2015-12-03 22:01] remcohaszing commented on #5
@Gillespie59 Do you have examples of what kind of properties would you like to validate?

[2015-12-03 22:02] remcohaszing commented on #3
@Gillespie59 Do you have examples of what exactly should be validated about the signature of `$resource`?

[2015-12-04 08:13] Gillespie59 commented on #291
Oops sorry . You are right.

We do not use `Array.isArray` in the demo page ?

[2015-12-04 08:39] tilmanpotthof commented on #295
+1 for @depcrecated

... and I also think RULE DEPRECATED could help.

Another additional idea is to list the deprecated rules separate from the others.

[2015-12-04 08:43] remcohaszing commented on #295
:+1:

Perhaps also a note on when deprecated rules will be removed. (I'd say all currently deprecated rules should be removed in `1.0.0`.)

[2015-12-04 09:20] tilmanpotthof commented on #295
Removing the `typecheck-regexp` rule is already scheduled for 1.0.0. I'll add an issue for all deprecated rules.

[2015-12-04 09:44] tilmanpotthof opened #297 "Rule section - group rules in categories"
The categories in the eslint documentation (http://eslint.org/docs/rules/) help to get an overview, what rules are useful for what use cases.

Eslint has the following categories. I marked those which could be useful for the angular rules. I added explanation to the **possible errors**:

## Proposal

### Possible errors

* module-getter (angular modules referenced though global variables can lead

[2015-12-04 09:48] tilmanpotthof commented on #295
I would like to group all rules in categories and opened an issue with a proposal for these categories.

#297

[2015-12-04 09:49] tilmanpotthof opened #298 "Remove deprecated rules"
Deprecated rules

* `typecheck-regexp`
* `no-digest`

[2015-12-04 11:37] tilmanpotthof commented on #291
Yes, but I will add it as failing example.

[2015-12-04 11:42] tilmanpotthof commented on #297
@Gillespie59 @remcohaszing What do you think about categories?

[2015-12-04 11:44] remcohaszing commented on #297
:+1:

[2015-12-04 11:46] tilmanpotthof commented on #291
PR https://github.com/Gillespie59/eslint-plugin-angular/pull/300

[2015-12-04 13:39] tilmanpotthof commented on #297
PR https://github.com/Gillespie59/eslint-plugin-angular/pull/301

[2015-12-04 18:13] #53 closed

[2015-12-04 18:13] #291 closed

[2015-12-04 18:14] Gillespie59 commented on #297
:+1:

[2015-12-04 18:16] Gillespie59 commented on #274
:+1:

[2015-12-05 08:26] #297 closed

[2015-12-06 18:05] tilmanpotthof commented on #287
@sbalay I added your example as unit test (commit 050fb45). Unfortunately, the test does not fail. I copied your example to some real app and also got the correct error report: `Unused injected value $translate`

Based on these information I'm pretty sure your problem is caused by a configuration or installation problem.

* Try to remove your `node_modules` folder and rerun `npm install`
* How do

[2015-12-06 18:05] #287 closed

[2015-12-06 20:31] remcohaszing opened #307 "Disallow multiple module() calls in a descibe block"
I have encountered the following type of unittest setup several times now:

[code]

This typically indicates that the module is not setup correctly. The `myApp` module should have `ui.router` as a dependency instead.

It should be allowed to add exceptions (e.g. [`ngMaterial-mock`](https://github.com/angular/material/blob/master/test/angular-material-mocks.js) or [`ngCordovaMocks`](https://github.

[2015-12-08 10:06] tilmanpotthof opened #314 "Check "Best-Practices" from official angular repo"
https://github.com/angular/angular.js/wiki/Best-Practices

[2015-12-08 10:17] tilmanpotthof opened #315 "Forbid scalar values on $scope"
From the angular wiki (https://github.com/angular/angular.js/wiki/Anti-Patterns):

Don't use a scalar variable (null is scalar) as a model within an isolate scope (such as ng-if). (Example: http://embed.plnkr.co/qRhLfw/preview)

(Last missing point from #133)

[2015-12-08 10:19] tilmanpotthof commented on #133
3 of 5 rules are already covered and 1 can not be covered. I opened an issue for the last rule (#315) and close this issue.

@fabm22 Hope that's ok for you.

[2015-12-08 10:19] #133 closed

[2015-12-08 17:12] Gillespie59 opened #316 "Add commiters to the package.json contributors list"

[2015-12-08 17:14] #232 closed

[2015-12-08 17:16] #213 closed

[2015-12-08 17:19] #295 closed

[2015-12-09 12:18] remcohaszing opened #319 "controller-as-route error on empty state call"
The following code triggers an unhandled error in the `controller-as-route` rule:
[code]

[code]

[2015-12-09 14:01] #99 closed

[2015-12-09 14:15] #319 closed

[2015-12-09 14:15] #316 closed

[2015-12-09 15:00] #130 closed

[2015-12-09 16:06] TuckerWhitehouse commented on #271
Component can only be used in cases where a "link" function is not required (no dom manipulation). So `angular.directive` is still required for interaction with the dom. Maybe a "prefer-component" rule that would suggest the `angular.component` syntax if a link function is not found?

[2015-12-09 16:16] Gillespie59 commented on #271
You are totally right @TuckerWhitehouse . Thanks for these remarks. We will rename the rule, and try to detech the use or not of a `link` function

[2015-12-11 16:20] Gillespie59 commented on #273
- [definedundefined]
- [typecheck-array]
- [typecheck-date]
- [typecheck-function]
- [typecheck-number]
- [typecheck-object]
- [typecheck-regexp]
- [typecheck-string]

[2015-12-11 16:22] Gillespie59 commented on #233
Duplicate : #298

[2015-12-11 16:22] #233 closed

[2015-12-13 15:11] remcohaszing opened #322 "Disallow $filter"
Let's say we have a module defining a filter:
[code]

A service can depend on this in two ways:
[code]
[code]

Both services will throw an error though, because they should depend on the `filters` module.

The first one will throw an error upon dependency injection. The second one when the filter is used.

I think it makes sense to disallow the use use `$filter` to avoid this type of situations. I

[2015-12-13 18:18] tilmanpotthof commented on #322
Your main problem with $filter is, that you get errors only when you run the getCoffee Method, right?

I think this problem can be covered by the `no-services` and we could document it there.

[2015-12-13 18:19] tilmanpotthof commented on #322
@remcohaszing I updated you example. The DI for the coffeeFilter must be named coffeeFilterFilter.

[2015-12-13 18:27] tilmanpotthof opened #323 "Roadmap for 1.0"
We already have identified some tasks for 1.0 and I think it is worth to consider what we think is missing for a 1.0 release. Also, what quality requirements will we have after 1.0.

https://github.com/Gillespie59/eslint-plugin-angular/milestones/1.0.0

[2015-12-13 18:36] tilmanpotthof commented on #256
@vrockai Did the answer work for you?

I'll close this issue. Please reopen it with a comment, if you disagree.

[2015-12-13 18:36] #256 closed

[2015-12-13 21:33] remcohaszing commented on #322
That's right. I think this would be a sane default for the `no-services` rule.

[2015-12-13 21:52] tilmanpotthof commented on #322
@remcohaszing +1 - Sane defaults might be a topic for #323

[2015-12-14 08:48] maksimr commented on #258
+1

[2015-12-14 08:55] mradionov commented on #228
If anybody is interested, I wrote a plugin for ESLint, which allows to disable plugins per file via inline comments https://github.com/mradionov/eslint-plugin-disable

[2015-12-14 09:05] remcohaszing commented on #228
@mradionov Nice! I think this is the best solution by far.

I'm closing this issue, because I think this fixes it. I don't think it should be part of an AngularJS plugin to handle this.

If anyone disagrees, just reopen it.

[2015-12-14 09:05] #228 closed

[2015-12-14 09:12] tilmanpotthof commented on #228
@remcohaszing I also like the solution and we should mention it in the docs, but I also think that some convention based approach is necessary, if a project has a lot on non angular resources.

[2015-12-18 00:30] dereklin opened #324 "error You should use the function syntax for DI angular/di when using array injection syntax"
Hi,

I get "error  You should use the function syntax for DI  angular/di" when I use the array injection syntax:
[code]

Is that the expected behavior?

I have tried version 0.12.0 and 0.15.0

[2015-12-18 11:01] tilmanpotthof commented on #324
Yes, and no... The angular/di rule is enabled by default, and has the default setting "function".

https://github.com/Gillespie59/eslint-plugin-angular/issues/258

[2015-12-18 11:06] tilmanpotthof commented on #324
Yes, and no... The angular/di rule is enabled by default, and has the default setting "function".

We already have in issue to disable all rules by default, but for 1.0.0. https://github.com/Gillespie59/eslint-plugin-angular/issues/258

Until 1.0.0 you can disable the rule in the eslint config, or configure it for the array syntax.

    {
        "plugins": [
            "angular/angular"

[2015-12-18 11:06] #324 closed

[2015-12-18 11:06] tilmanpotthof commented on #324
Partial duplicate of #258

[2015-12-18 15:58] ThomasvLingen opened #325 "Rule angular/deferred doesn't raise an error on _$q_.defer()"
Came across this whilst working on something and wasn't completely sure if this was intentional.

For example, the deferred rule is totally alright with this:
[code]

[2015-12-18 18:10] Gillespie59 commented on #325
Yep, because we only test `$q` and not `_$q_` us in test.
We solve that.

[2015-12-18 18:56] #325 closed

[2015-12-18 18:58] ThomasvLingen commented on #325
Awesome! Thanks a bunch!

[2015-12-23 09:39] Delagen opened #326 "directive-restrict AE always not work in some case"
[code]

directive-restrict AE always
generate error triple error
[angular/directive-restrict] Line:11 Column:2 Missing directive restriction
[angular/directive-restrict] Line:11 Column:2 Missing directive restriction
[angular/directive-restrict] Line:11 Column:2 Missing directive restriction

[2015-12-28 07:34] shaggyshelar opened #327 "Update README.md -> Defaults section to use ""angular" instead of ""angular/angular""
Hi, I tried using configuration mentioned in Defaults but was getting error, so when I changed "angular/angular" to ""angular" it worked for me. Please check.

[2015-12-28 07:48] tilmanpotthof commented on #327
Thanks for the report. What error did you get? Which eslint version do you use? What is your setup (grunt, gulp, eslint from the commandline)?

[2015-12-28 11:10] remcohaszing opened #328 "Consistenly use JSON or YAML syntax for .eslintrc"
It is possible to use either JSON or YAML syntax in `.eslintrc` files. In the readme, both are used for different examples. Our own `.eslintrc` file uses YAML syntax.

I personally prefer YAML, because it allows the use of comments, but I think consistency is more important.

I'm not sure how this affects the generated defaults in the readme introduced in #275.

[2015-12-30 13:29] leonid-shevtsov opened #329 "angular/di rule false positive when function has no dependencies"
`angular/di` rule when configured to `array` will cause a false positive when the function does not declare any dependencies.

For example, this syntax causes the check to fail:

[code]

and the check passes if the function is wrapped into an array:

[code]

Expected behavior: no error (rule doesn't apply when there are no dependencies).

[2015-12-30 22:49] tilmanpotthof commented on #329
@leonid-shevtsov Thanks for the report.

[2015-12-31 08:17] Gillespie59 commented on #328
:+1: for YAML format

[2015-12-31 14:20] XavierDupessey commented on #329
The "$inject" syntax is also affected:

This check fails:
[code]

Whereas that one passes:
[code]

[2016-01-06 00:40] indiesquidge opened #330 "no-angular-mock rule "module" is not defined"
Hello there. I appreciate you helping create/maintain this eslint plugin :)

However, I do not seem to be able to get some things working correctly.

I have globally installed both `eslint` and `eslint-plugin-angular` and have successfully included the plugin in my `.eslintrc`. What I seem to be having difficulty with is using [no-angular-mock](https://github.com/Gillespie59/eslint-plugin-angular/

[2016-01-06 16:05] tilmanpotthof commented on #330
The problem is not the rule `angular/no-angular-mock`, but the eslint rule `no-undef`. It prevents you from using undefined global variables, and does not know the global methods by angular-mocks (http://eslint.org/docs/rules/no-undef.html).

Quickfix: Add `module` and `inject` to your eslint globals.

    "globals": {
      "angular": false,
      "module": false,
      "inject": false
    }

@re

[2016-01-06 18:51] Gillespie59 commented on #330
I do not think it is possible to add globals for a specific plugin. Maybe a question we can ask to the ESLint project.
But yes we can document this problem. Not in the `no-angular-mock` rule, because this error is not linked to this rule. It is a global issue. Why not creating a block in the README next to the `Default ESLint configuration file`  block ?

[2016-01-06 19:02] indiesquidge commented on #330
@tilmanpotthof: ah I see. So as far as you guys know, there is no solution to this kind of issue other than simply adding to my globals list? Might I ask what `/*eslint angular/no-angular-mock: 2*/` is meant to do if that is the case? I think I am confused about what the [documentation](https://github.com/Gillespie59/eslint-plugin-angular/blob/master/docs/no-angular-mock.md) means.

[2016-01-06 19:07] Gillespie59 commented on #330
according to the doc, you should use, for example, `inject` instead of `angular.mock.inject`
But the fact we use `inject`, the `no-undef` rule throw an error because he do not any global variable named `inject`.
So you are right @tilmanpotthof , mays add a comment in this rule, in order to explain to the user, that he should add all methods of the angular.mock object in his globals properties.

[2016-01-06 19:15] indiesquidge commented on #330
Makes sense. Thank you for explaining and helping out, @Gillespie59 and @tilmanpotthof. I would be happy to create a PR to add this information to the rule documentation if you'd like :)

[2016-01-06 19:16] Gillespie59 commented on #330
Of course ;)
Le 6 janv. 2016 8:15 PM, "Austin Wood" <notifications@github.com> a écrit :

[2016-01-06 19:38] remcohaszing opened #331 "Create angular environment"
It would be nice to create an `angular` environment. This would set the global `angular` and the globals for `angular-mocks`.

This is an [accepted feature](https://github.com/eslint/eslint/issues/4782) with no set milestone yet. I think this would be very useful to this plugin and should be implemented as soon as that feature is implemented.

This would be useful to prevent issue reports similar

[2016-01-11 18:33] manast opened #333 "Add rule for detecting missing dependency"
Maybe I missed this feature, but at least I am not able to get eslint to complain to code like this:

[code]
I expect eslint to complain that $timeout is not declared. This would be quite useful since apps just breaks when minified if you happen to forget a dependency.

[2016-01-11 20:31] remcohaszing commented on #333
I agree. This is actually a pretty trivial rule. The rule shouldn't necessarily check for missing di declarations, but any type of mismatch. This includes a wrong order:

[code]

And an extraneous di declaration:
[code]

[2016-01-18 16:59] feimosi commented on #198
+1, in my case I'm using angular-bootstrap's modal service which adds to the $scope two following methods: `$dismiss()` and `$close()`. There's no other way to use it. Also `$scope.$watch()` happens to be useful.
Still, as mentioned above, the warning shouldn't say _"You should not set properties on $scope [...]"_ as it's misleading. Two separate rules would be better, don't you think?

[2016-01-19 15:34] szgabsz91 opened #335 "valid-ngdoc"
Hi,

I have an ESLint configuration for an AngularJS project with the valid-jsdoc rule switched on.

Let's assume I have an ngdoc comment like this:

    /**
     * @ngdoc service
     * @name MyService
     * @requires $http
     */
    function MyService($http) {
    }
    angular.module('mymodule').factory('MyService', MyService);

With the valid-jsdoc rule, I get the following error:

    Miss

[2016-01-19 15:59] remcohaszing commented on #335
I have been thinking about implementing this. For me this led to the final though that this would be a pointless feature.

The only reason to lint this, is because Dgeni lacks the ability to extract those tags from the AST of AngularJS code.

`eslint` parses the JS code using `espree` and then traverses the AST using `estraverse`. Creating an `eslint` rule to parse these tags would have about the

[2016-01-20 10:06] ank91 opened #336 "controller-as-route syntax rule should be improved"
I have my angular routes in this way

[code]

Above code works fine (angular v1.4.8) but does not pass ```controller-as-route``` [rule](https://github.com/Gillespie59/eslint-plugin-angular/blob/master/rules/controller-as-route.js#L32)
It should check if controller name has ```as``` in between.

[2016-01-23 10:36] #329 closed

[2016-01-23 10:37] #330 closed

[2016-01-28 14:25] szgabsz91 commented on #335
I'm not sure I totally understand, I'm just trying to explore the connections among these packages.

So eslint's valid-jsdoc rule is responsible for linting the documentation comments. However, eslint cannot have framework specific rules, that's why I though this package would be a great candidate.

And I might be wrong, but it seems to me that eslint parses the documentation comments with doctrin

[2016-01-28 21:04] remcohaszing commented on #335
Now that I re-read my previous reply, I admit it was a pretty confusing answer.

szgabsz91:

* There is no connection between ESLint and Dgeni.
* Espree / estraverse is a library that just happens to be used internally by both. It's actually not that important, but it shows that creating an ESLint rule is pretty similar to implementing an tool to extract the information from the AST instead of com

[2016-01-28 21:36] szgabsz91 commented on #335
Aha, it's far more clear now! :+1: I just didn't know about this new dgeni proposal.

I totally understand, actually a couple of years ago it was a bit weird for me that in this system the documentation annotations and the code itself are totally separate things. On the other hand I accepted it because it is a bit more difficult to extract information from JS code than from Java or C# for instance

[2016-02-10 22:14] remcohaszing commented on #335
@szgabsz91 This turned out to be easier than I originally imagined. I've created a basic implementation already in the referencing PR above. I think it'll be available soon, if I have enough free time. :wink:

[2016-02-10 22:14] #335 closed

[2016-02-14 09:45] brutalcrozt opened #339 "Controller as vm on angular.foreach don't pass when use context"
as the [angular doc foreach](https://docs.angularjs.org/api/ng/function/angular.forEach) say
![eslint-plugin-angular](https://cloud.githubusercontent.com/assets/3001652/13032999/ddb51b08-d339-11e5-8b52-fda1bd2ff661.PNG)

IMO this should passed.

[2016-02-15 18:45] remcohaszing commented on #323
I suggest to try and release `1.0.0` ASAP with the main focus on support for `eslint@^2.0.0`.

I think we should:
- Remove deprecated rules. (#298)
- Remove support for the old-style rules. (with the `ng_` prefix)
- Bump to `eslint@^2.0.0`. (#340)
- Disable all rules by default. (#258) In the new ESLint this is [no longer supported](http://eslint.org/docs/user-guide/migrating-to-2.0.0#plugins-no-l

[2016-02-15 19:02] Gillespie59 commented on #323
:+1:  I am going to create the 1.0 branch

[2016-02-15 19:03] Gillespie59 commented on #323
Done  https://github.com/Gillespie59/eslint-plugin-angular/tree/1.0

[2016-02-15 19:07] Gillespie59 commented on #339
But as you use vm.activeData below, I think, in my opinin, that's better to use the syntax everywhere ;

[2016-02-15 19:08] Gillespie59 commented on #336
:+1:

[2016-02-15 19:10] Gillespie59 commented on #327
I think you should use an old version of the plugin. Do you ?

[2016-02-15 19:12] Gillespie59 commented on #323
and the #322  ?

[2016-02-15 19:14] brutalcrozt commented on #339
sorry what you mean by `syntax everywhere`

[2016-02-15 19:16] Gillespie59 opened #341 "Remove support for the old-style rules. (with the ng_ prefix)"

[2016-02-15 19:17] remcohaszing commented on #339
I agree with @Gillespie59 here. Since this rule is based on [Y032](https://github.com/johnpapa/angular-styleguide#style-y032), I suggest to move this discussion there and close this issue until a discussion there results otherwise.

[2016-02-15 19:17] Gillespie59 commented on #323
I have created a new issue #341 for the old-syntax.

[2016-02-15 19:22] #322 closed

[2016-02-15 19:23] brutalcrozt commented on #339
i mean it will be great if improve the plugin?
if you both agree to close it, i will do it :smile:

[2016-02-15 19:29] fchiumeo commented on #327
in readmee.md ##Defaults section [angular/angular](https://github.com/Gillespie59/eslint-plugin-angular/blame/master/README.md#L99)

[2016-02-15 20:27] #336 closed

[2016-02-15 20:31] #298 closed

[2016-02-15 20:34] #258 closed

[2016-02-15 20:39] #341 closed

[2016-02-15 20:42] Gillespie59 commented on #327
Oh I understand.

[2016-02-15 20:45] #327 closed

[2016-02-15 20:56] Gillespie59 commented on #323
I have updated the 1.0 branch to eslint 2.0 eveything looks fine. Can you send your PR again with all your change ?

[2016-02-15 20:59] Gillespie59 commented on #331
So we should add this configuration in our index.js ?

[code]

[2016-02-15 21:29] remcohaszing commented on #331
I suppose this should cover the basics:
[code]
I didn't really look into it in that much detail, haven't tried it manually yet to be honest. I didn't expect a sudden flood of git patches. ;)

I'm not sure if it's recommended by the ESLint team to inherit configurations. E.g. Protractor always runs in NodeJS. Should it include `module`, `exports` and `require`?

[2016-02-16 19:28] remcohaszing opened #344 "Remove rulesConfig"
The `rulesConfig` object is no longer supported in `eslint@^2.0.0`. Defaults should be moved into the code, not the `rulesConfig` object.

[2016-02-18 12:50] abdonrd commented on #323
+1 to ESLint 2.0! :+1:

[2016-02-18 16:26] brutalcrozt commented on #328
`1.0.0` already [use](https://github.com/Gillespie59/eslint-plugin-angular/blob/1.0/.eslintrc.yaml) yaml :+1:

[2016-02-20 10:27] Gillespie59 commented on #328
Is this update enough ?

[2016-02-20 10:52] remcohaszing commented on #328
Partially.

Default values are still generated as JSON.

However, I suggest removing defaults entirely because of #345.

[2016-02-20 18:30] #331 closed

[2016-02-20 19:03] #344 closed

[2016-02-20 19:04] remcohaszing commented on #328
This is now resolved, because the defaults are no longer in the readme.

[2016-02-20 19:04] #328 closed

[2016-02-20 19:08] remcohaszing commented on #193
This is now better validated, because of #346. It is no longer possible to accept configs which don't exist in the schema. I think this issue can be closed now.

[2016-02-23 15:22] remcohaszing commented on #193
Closing this, as I think all schemas are covered now.

[2016-02-23 15:22] #193 closed

[2016-02-23 15:24] remcohaszing commented on #323
I don't think the one remaining issue for this roadmap should block a release. I think this is ready for merging + releasing.

[2016-02-24 15:42] Gillespie59 commented on #323
Can you prepare the release ?
- Update the version number in the 1.0.0 branch
- Merge to the dev branch
- Merge to the master branch
- Test if everythin is OK
- Delete the 1.0.0 branch

And I will publish the release on NPM and publish the GIT tag.

Thanks a lot.

Le mar. 23 févr. 2016 à 16:24, Remco Haszing <notifications@github.com> a
écrit :

[2016-02-24 19:24] remcohaszing commented on #323
Alright, I'm on it! :+1:

[2016-02-24 19:49] OverZealous opened #352 "Catch common typos on scope methods"
One of the more annoying typos that comes up is calling `scope.watch` instead of `scope.$watch`.

It would be nice to disallow calling any of the common scope methods on `scope`, `$scope`, or `$rootScope` without the appropriate `$` prefix.

Only on these objects:
- `$scope`
- `scope`
- `$rootScope`

These method names are invalid:
- `new`
- `watch`
- `watchGroup`
- `watchCollection`
- `digest`
-

[2016-02-24 19:55] remcohaszing commented on #323
- [x] Update the version number in the 1.0.0 branch
- [x] Merge to the dev branch
- [x] Merge to the master branch
- [x] Test if everything is OK

  - Tested on a project I'm working on using `npm link`.
  - All that broke were the changed rules in ESLint's default ruleset.
  - Environments work. :smile_cat:
- [ ] Delete the 1.0.0 branch

 - Didn't delete this branch yet, so you track everything I

[2016-02-24 20:01] remcohaszing commented on #339
What do you mean by that?

I think the changes you're suggesting would oppose the goal of this rule. You shouldn't use `this` for referencing the view model. Closing this issue until a discussion on John Papa's style guide proves otherwise.

[2016-02-24 20:01] #339 closed

[2016-02-24 20:22] remcohaszing commented on #352
Actually, assigning custom methods onto `$scope` or `$rootScope` is probably always a bad idea. No matter if it's called `watch`, `$witch` or `witch`. I think this is already handled by the [controller-as](https://github.com/Gillespie59/eslint-plugin-angular/blob/master/docs/controller-as.md) rule.

If any of the typos described exists, I think this should be caught by a unittest, not a linter.

A

[2016-02-24 20:29] Gillespie59 commented on #323
Done ! Thans a lot @remcohaszing ! will publish something on twitter

[2016-02-24 20:29] #323 closed

[2016-02-25 06:06] devroyaldev commented on #99
Hello, I receive the message 'You should use the function syntax for DI' on that particular boilerplate code. What is wrong?

'use strict';

// Declare app level module which depends on views, and components
angular.module('myApp', [
  'ngRoute',
  'myApp.view1',
  'myApp.view2',
  'myApp.version'
]).
config(['$routeProvider', function($routeProvider) {
  $routeProvider.otherwise({redirectTo: '/vi

[2016-02-25 09:07] AdriVanHoudt commented on #258
well Eslint does have an recommended you can extend, maybe this can be added (because I did like the defaults and now I have to set them manually)

[2016-02-25 09:17] tregusti commented on #52
+1

[2016-02-25 09:27] kurakin-oleksandr opened #353 "SyntaxError in /rules/utils/angular-rule.js"
There is an error:
`node_modules/eslint-plugin-angular/rules/utils/angular-rule.js:199
});
^
SyntaxError: Failed to load plugin angular: Unexpected token }`

[2016-02-25 09:36] remcohaszing commented on #353
I find it hard to believe there is a syntax error. The code is linted using ESLint.

Also line 199 doesn't contain `}); ^`.

Did you modify this file? Perhaps by accident? I suggest to remove the `node_modules/eslint-plugin-angular` directory and run `npm install` again.

[2016-02-25 09:58] kurakin-oleksandr commented on #353
Yes, you're right. File itself is ok. I'll investigate problem.
Thanks for quick answer!

[2016-02-25 09:58] #353 closed

[2016-02-25 10:42] remcohaszing opened #354 "Add shareable configuration"
As pointed out by @AdriVanHoudt in [#258](https://github.com/Gillespie59/eslint-plugin-angular/issues/258#issuecomment-188677966) it might be a nice idea to have a shareable configuration.

New rules added to these defaults, would mean breakage though. Not adding these rules would mean an outdated config.

Upgrading the major version for each new rule seems overkill though.

I suggest to add multi

[2016-02-25 10:44] AdriVanHoudt commented on #354
It would only be breaking if you add rules that you would want to enforce in the default but yeah. The multiple config idea sounds good

[2016-02-25 19:09] OverZealous commented on #352
@remcohaszing That response doesn't make any sense to me.

This isn't about assigning, this is about catching common typos on scope methods.  For example, it's easy to accidentally type `scope.on('someEvent')` rather than `scope.$on('someEvent')`.  This is just an annoyance, and sounds like the specific use case for a linter.  It's nice to catch the bug early on.

The `controller-as` method both i

[2016-02-25 23:13] dustinspecker commented on #354
If the maintainers of this plugin are interested, I would be more than glad to add contributors to [eslint-config-angular](https://github.com/dustinspecker/eslint-config-angular) on both GitHub and npm. I haven't been using Angular much recently, so I've definitely been doing a poor job of keeping the config up to date with this plugin.

[2016-02-26 03:23] laurent-le-graverend opened #356 "Documentation in 1.0"
Took me a while to understand the issue after update.

It seems that all rules need now to be prefixed by "ng_" in version 1.

eg: `'angular/ng_angularelement': 2,`

This change is not reflected the README file for the documentation.

[2016-02-26 04:02] laurent-le-graverend commented on #356
No issue, for some reason, my package my bumped to v0.1.0 instead of v1.0.0

[2016-02-26 04:02] #356 closed

[2016-02-26 20:05] eddiemonge opened #357 "Possible to remove lodash"
Doesn't seem like lodash is providing much for the actual module. Think it could be removed to help cut down the dependency tree?

[2016-02-26 20:07] eddiemonge opened #358 "npm includes way too much"
I think package.json should be modified to only include the files needed for the module. Things like docs and examples should probably not be included. This will speed up the time it takes to download the module and make the resulting overall package smaller.

[2016-02-26 20:28] darlanmendonca opened #359 "controller-name default validation"
Instead validate by /[A-Z].*Controller$/, the default pattern is /[A-Z].*Controller.*/

This is right?

I want made a pull request to fix it to follow /[A-Z].*Controller$/ by default, if you wants too

[2016-02-26 20:30] Gillespie59 commented on #359
I think you are right ! The controller should end with "Controller"
Le 26 févr. 2016 9:28 PM, "Darlan Mendonça" <notifications@github.com> a
écrit :

[2016-02-26 20:31] Gillespie59 commented on #358
+1
Le 26 févr. 2016 9:07 PM, "Eddie Monge" <notifications@github.com> a écrit :

[2016-02-26 20:59] darlanmendonca commented on #359
ok, I will made a pull request, and we see

Congratulations for project!! I loved

[2016-02-28 14:19] brutalcrozt commented on #357
agree, waiting the team to discus about this :smile:

[2016-02-28 14:29] remcohaszing commented on #357
I agree this dependency is a bit overkill. It is only used by [one-dependency-per-line](https://github.com/Gillespie59/eslint-plugin-angular/blob/master/rules/one-dependency-per-line.js).

It is also used in some [scripts](https://github.com/Gillespie59/eslint-plugin-angular/tree/master/scripts), but that would just make it a devDependency, which is not as bad.

I'd love to see a PR demoting it to

[2016-02-29 14:04] reupen opened #362 "False positive for angular/di: [2, "array"] rule"
In version 1.0.0, the following does not pass linting:
[code]

[code]

It was OK under 0.15.0. Also it passes under `/*eslint angular/di: [2,"function"]*/`.

[2016-03-02 02:32] deepu105 opened #363 "node variable undefined causing gulp serve to exit"
There is an undefined handling error causing gulp serve to stop when there is a javascript error

Trace below. Im not very familiar with this plugin but a check for the node object would fix this but not sure if this is intended

we are using this in https://github.com/jhipster/generator-jhipster and this one is kind of a blocker for us

[code]

[2016-03-02 05:29] deepu105 commented on #363
@Gillespie59 any quick fix or workaround that we can do for this?

[2016-03-02 05:44] deepu105 commented on #363
If I change line 193 of `rules/utils/angular-rule.js` to below its working, if you think this the correct way to handle this I can do a PR
[code]

[2016-03-02 06:44] brutalcrozt commented on #362
Could you try use like so :
[code]

Let me know if it pass or even fail.

[2016-03-02 08:02] remcohaszing commented on #363
I suppose it fails on invalid AngularJS code similar to:

[code]

This doesn't mean it should crash the ESLint of course.

I see why your solution that would fix it. However, a better fix would be to add this check on line 196:

[code]

I'll fix this today, unless you want to make a PR. It requires some tests of course. ;)

[2016-03-02 08:21] deepu105 commented on #363
If you can fix please do so as Im very unfamilar with the plugin code and
your fix would be faster

Thanks & Regards,
Deepu

On Wed, Mar 2, 2016 at 4:02 PM, Remco Haszing <notifications@github.com>
wrote:

[2016-03-02 08:23] deepu105 commented on #363
actually it fails on things like this as well. But on any failure its shouldnt crash Eslint or gulp
[code]

[2016-03-02 08:37] remcohaszing commented on #363
Sorry, can't do it right now.

If you need it that badly, just fork it, apply your solution to your fork and depend on you fork in the mean time.

[2016-03-02 08:49] deepu105 commented on #363
if you can do a release within few days that should be fine. Else we could just drop the plugin for now and add it back when there is a new version as I dont want to maintain a fork at this time. My hands are already pretty full

[2016-03-02 08:50] deepu105 commented on #363
we have a major release coming soon so we still have some more days

[2016-03-02 10:27] reupen commented on #362
That (correctly) fails with `angular/di: [2, "array"]`

Yes, I would've expected the original example to pass under `array` and fail under `function`.

[2016-03-02 11:30] brutalcrozt commented on #362
Sorry for that, i just notice that we have 3 possible configuration.
When i compare your code and example. I found that your code use named function but the example use anonymous function.

According to the [test](https://github.com/Gillespie59/eslint-plugin-angular/blob/master/test/di.js#L83) not listed on valid one.

Let's wait the contributor :smile: , If require a PR maybe sorting the test by

[2016-03-03 06:14] deepu105 commented on #363
@remcohaszing let us know when there is a new version and we will upgrade

[2016-03-03 08:33] remcohaszing commented on #363
Sorry, I didn't get to it. Also I won't have time at least until after this weekend.

If I'm correct you should be able to depend on this branch as a temporary workaround: https://github.com/remcohaszing/eslint-plugin-angular/tree/fix-angular-rule

If it doesn't work, I'll take a look as soon as I have time, which will be somewhere next week. I will need an example how to trigger the error then th

[2016-03-03 09:02] deepu105 commented on #363
for example you can use any js file with a random stray string some where
in it. If you cant reproduce let me know ill give you what fails for me

Thanks & Regards,
Deepu

On Thu, Mar 3, 2016 at 4:33 PM, Remco Haszing <notifications@github.com>
wrote:

[2016-03-08 10:05] linlinlinlin opened #366 "document for document-service error"
These two examples are the same.

## Examples

The following patterns are considered problems;

    /*eslint angular/document-service: 2*/

    // invalid
    document.title // error: You should use the $document service instead of the default document object

    // invalid
    document.title // error: You should use the $document service instead of the default document object

[2016-03-12 23:12] Krisa opened #367 "controller as vm: es6 classes"
My understanding is that, there is no need to check for var vm = this inside classes (declared as controllers), but controller as vm does not make any difference whether we are in a function or in a class

[2016-03-13 12:51] Krisa commented on #367
pull request opened here: https://github.com/Gillespie59/eslint-plugin-angular/pull/368. Closing this issue in the meantime.

[2016-03-13 12:51] #367 closed

[2016-03-31 19:38] Pencroff opened #372 "[file-name] - change componentTypeMappings object by configuration"
Hello.
Thank you for cool set of rules.
Is it possible to override `componentTypeMappings` by some configuration settings. For example I would like to separate file names for `factories` and `services` like `user.factory.js` and `auth.service.js` for declare by file name expectable structure inside.

[2016-04-03 14:07] #366 closed

[2016-04-06 20:39] jrencz opened #373 "allow no-services to accept regular expressions as disallowed service names"
It would be useful for more general configuration.

E.g. services suffixed `*Foo` should be disabled in directives
`RegExp` constructor syntax can be used since `.eslintrc` is a JSON.

[2016-04-06 20:42] jrencz opened #374 "allow no-services to disallow particular service in other particular service"
Use cases:

- I don't want service named `foo` to ever be injected in service named/factory/provider/directive/filter/whatever named `bar`
- I don't want services suffixed with `*Foo` (in general: identified with a regular expression, see Gillespie59/eslint-plugin-angular#373) to be injected in services suffixed with `*Bar`

[2016-04-06 20:50] jrencz commented on #373
Rule `controller-name` allows this kind of configuration.

[2016-04-06 21:12] jrencz opened #375 "di-order is case sensitive: it enforces upperFirst services to be placed before lowerFirst"
Consider the following snippets:

[code]

[code]

[code]

It should be fixed or configurable.
It should definitely be documented.

[2016-04-06 21:34] jrencz opened #376 "function-type fails when empty array given as constant"
[code]

[code]

By all means empty array is a valid constant.
Probably array is handled is a special way for annotated DI.

[2016-04-06 22:27] la-yumba commented on #271
+1

[2016-04-07 07:47] jrencz commented on #227
@Gillespie59 in fact the analog of the first case is

[code]

I think this rule is more general: it's not about angular, it's about promises in general.

There are promise plugins already:
- [jden/eslint-plugin-promiseparams](https://github.com/jden/eslint-plugin-promiseparams)
- [jden/xjamundx/eslint-plugin-promise](https://github.com/xjamundx/eslint-plugin-promise) (fork of jden/eslint-plugin-pr

[2016-04-07 12:08] jrencz opened #377 "log: it should not check in providers outside $get method and in configs"
It's not possible to access `$log` service in config phase so there's no point in enforcing using it there.

[2016-04-07 15:02] Bennit opened #378 "on-watch rule also triggers for service/provider/runblock"
The on-watch rule only makes sense to me in the context of a limited lifetime code block such as a controller. For services there are no destroy points so there's no point in making sure it's unassigned.
I have to disable the rule or capture it in a variable (which is then unused, triggering another warning).

A concrete example indicating why the on-watch rule should not be triggered in the case

[2016-04-07 21:42] bastienmoulia commented on #359
I think it's more like `/^[A-Z].*Controller$/`

[2016-04-07 21:52] bastienmoulia opened #380 "Edit rules file-name and component-limit to allow .component from angular 1.5"
In angular 1.5 there is a new component available: https://docs.angularjs.org/guide/component

In some rules it is not recognise:
- the file-name rules don't suggest a correct name.
- the component-limit don't detect it
- maybe other rules are impacted

[2016-04-08 10:39] jrencz opened #381 "New rules suggestion: angular/di-limit, angular/module-dependency-limit"
There should be a way to enforce maximum number of dependencies: both module dependencies and injected services. It may be used to enforce architectural decisions when a module grows.

[2016-04-20 11:32] mathilde-pellerin opened #382 "function-type false positive for array constant"
Hi,

I just upgrade my project to `"eslint-plugin-angular": "^1.0.0"` and now ESlint complains about array constants :
[code]

The rule definition I use:
`"angular/function-type": [2,  "anonymous"],`

but it's the same if I use following rule instead
`"angular/function-type": [2,  "named"],`

[2016-04-20 14:39] DreamingMatt opened #383 "module dependency order fails when undefined modules are specified"
For some reason Angular functions fine when one creates a module like this:
[code]
eslint-plugin-angular however does not and fails on the following:
[code]

My guess is that there should be a rule which does not allow to add undefined dependencies to an angular module.

[2016-04-22 13:38] Gillespie59 commented on #383
I think the problem come from the comma inside the dependencies array.
I am currently working on this issue.

[2016-04-22 13:51] #383 closed

[2016-04-26 08:46] y8n opened #384 "angular style link is not available anymore"
angular style link( [https://github.com/johnpapa/angular-styleguide](https://github.com/johnpapa/angular-styleguide) ) used in README is not available. Use [https://github.com/johnpapa/angular-styleguide/blob/master/a1](https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md) instead.

[2016-04-26 14:08] Gillespie59 commented on #384
Done. thanks.

[2016-04-26 14:08] #384 closed

[2016-04-29 10:58] #382 closed

[2016-04-29 11:03] Gillespie59 commented on #376
This issue has been solved with this commit : https://github.com/Gillespie59/eslint-plugin-angular/commit/b918d022ce1e422a0e1f621dec8d006f7149ee96

[2016-04-29 11:03] #376 closed

[2016-05-04 05:11] LPCmedia commented on #380
added in https://github.com/Gillespie59/eslint-plugin-angular/pull/388

[2016-05-06 14:39] cleavera opened #389 "di, di-order and di-unused don't work with modules in variables"
The following syntax produces errors as expected:
[code]
Throws
- di: use array syntax
- di-order: injected dependecies should be in alphabetical order
- di-unused: Zulu and Bravo unused

But the following code passes fine:
[code]

I would expect both pieces of code to throw the same error.

[2016-05-07 15:19] Gillespie59 commented on #389
You are right. It should throw errors.

[2016-05-26 00:17] OzzieOrca commented on #223
Any updates?

[2016-06-01 09:01] ukupat commented on #271
+1

[2016-06-02 19:36] gumallett opened #391 "no-private-call is being enforced on non-angular properties"
The description of the no-private-call rule says: "All scope's properties/methods starting with $$ are used internally by AngularJS. You should not use them directly."

However, the way that the rule gets enforced does not match the description.  It seems that **any** properties prefixed with '$$' get flagged, not just angular scope properties.  My specific use case is ui-grid's treeView has a $$t

[2016-06-06 17:22] kayoub5 commented on #376
@Gillespie59 this still fails using version `1.0.1`

[2016-06-09 10:25] JoernBerkefeld commented on #359
@bastienmoulia is right. as of now it is accepting `myBadlyNamedController` as well as `MyCorrectController` due to the missing `^` at the beginning

the most correct check would probably be `/^[A-Z][a-zA-Z0-9]*Controller$/`, otherwise `_` would be allowed, also breaking the UpperCamelCase rule

[2016-06-13 14:03] #359 closed

[2016-06-13 14:22] Gillespie59 opened #395 "Build failed with Node > 5"
With these errors :

[code]

[2016-06-14 07:57] laurent-le-graverend commented on #375
How about an option to have **Natural sort** order instead of "Pure" alphabetical order?

[2016-06-20 15:01] jmayday commented on #333
+1

[2016-06-22 16:17] gaboesquivel opened #397 "is there way to prevent to use of $log ? no-log / no-console"
I would like to disable the use of $log, is there a way to do it ?

[2016-06-23 06:51] remcohaszing commented on #397
You can use [no-services](https://github.com/Gillespie59/eslint-plugin-angular/blob/master/docs/no-services.md) to disallow injecting the `$log` service.

[2016-06-23 06:51] #397 closed

[2016-06-23 10:07] tregusti commented on #378
I experience the same problem, and I have the same opinion as @Bennit.

[2016-06-23 13:41] gaboesquivel commented on #397
grt, thanks!

[2016-06-23 13:50] Hyzual commented on #326
Hi, I've got the same problem.
Given that my rule was defined as follow:

[code]

when I write the following code:

[code]

Then I will get an error (I only get one error though, not three as above):

[code]

I should not have an error since 'A' is explicitly defined in the directive.

[2016-06-24 19:19] Gillespie59 commented on #357
Just moved lodash as a devDep

[2016-06-24 19:19] #357 closed

[2016-06-24 19:20] #271 closed

[2016-06-24 19:32] #358 closed

[2016-06-24 19:33] Gillespie59 commented on #395
Is now OK without doing anything

[2016-06-24 19:33] #395 closed

[2016-06-26 15:34] laurent-le-graverend commented on #375
@Gillespie59, possible to escalate this issue?

[2016-06-26 15:42] Gillespie59 commented on #375
I have just started working on this rule

[2016-06-26 16:14] Gillespie59 commented on #375
I have juste pushed an update for this rule. I have added a second option with these possible values : 'case_sensitive' (the default value, in order to be retro compatible), and 'case_insensitive'.

Any feedbacks are welcomed.

[2016-06-26 16:25] Gillespie59 commented on #391
You can aldready specify this specific ui-grid $$-prefixed variable as an option to this rule. Check the unit test I have just added to this rule.

[2016-06-26 16:25] #391 closed

[2016-06-26 16:29] Gillespie59 commented on #380
Rules updated

[2016-06-26 16:29] #380 closed

[2016-06-27 01:22] laurent-le-graverend commented on #375
Great , your commit looks good for me @Gillespie59 !

[2016-06-27 09:20] Gillespie59 commented on #375
perfect. Will publish the 1.3.0 release in a couple of hours.

[2016-06-27 16:26] Gillespie59 commented on #375
1.3.0 published

[2016-06-27 16:26] #375 closed

[2016-06-28 12:30] rarkins commented on #376
Should this be reopened?

[2016-07-01 21:59] alecxe commented on #260
Correct me if I am wrong. The main purpose for this integration test is to make sure the plugin just does not fail in an unpredicted manner - does not throw any "runtime" specific errors..since you cannot possibly know what violations are currently present, right? Thanks.

[2016-07-05 10:56] elartix opened #401 "How "angular/di": [2, "array, function, $inject"] will work?"
Hi Team,

I updated eslint plugin and received this issue. I have very large project with different  variants of dependencies injection. How I can resolve this?

`"eslint-plugin-angular": "~1.3.0",`
`"gulp-eslint": "~3.0.0",`

Exception:
[code]

[2016-07-12 07:32] Gillespie59 commented on #401
can you share your .eslintrc file ?
Thanks

[2016-07-12 09:57] elartix commented on #401
Hi @Gillespie59 , Sure

[code]

[2016-07-12 11:24] Flygenring opened #402 "A few errors are raised from missing guards"
I have come across a couple of mishaps when running the plugin, which should be quite straightforward to fix. So far I've only seen these, which is just a matter of checking if the property exists before using it:

[code]

[2016-07-12 13:06] thiagogarbazza commented on #326
+1

[2016-07-12 14:02] ramonvicelli commented on #326
+1

[2016-07-15 10:19] danielolszewski opened #403 "False positive for: use $document instead of document"
I'm using eslint-plugin-angular version 1.3.0. In one of my Angular services I have a function that accepts a JS object parameter which name is **document**, e.g.:

	function sampleFunc(document) {
		if (document.enabled) {
			// ...
		}
		// ...
	}
The plugin treats the document parameters as the global reference to the document object and raises the error.

[2016-07-20 04:31] qar opened #404 "Please support ESLint v3.x.x"

[2016-07-24 14:21] Gillespie59 commented on #404
Do you have any  problem with the v3.x.x ?

[2016-07-24 14:26] Gillespie59 commented on #401
I think you should use "angular/di": [2, "$inject"]", or "angular/di": [2, "function"]" or "angular/di": [2, "array]".

It depends of the syntax you prefer

[2016-07-24 14:39] #402 closed

[2016-07-24 14:42] Gillespie59 commented on #403
How do you think we can detect the use of global variable versus your document function parameter ?

[2016-07-24 20:37] tilmanpotthof commented on #401
Just disable the rule, if you want to use all DI styles. Currently there is no way to specify more than one DI style, and I see no reason to extend the rule.

Does that answer your question?

[2016-07-24 20:42] tilmanpotthof commented on #403
@Gillespie59 Actually I think that could be possible. I remember that I had to distinguish between parameters and global variables for another rule.

BUT I don't think that it is a good thing to shadow global variables with. This can be very confusing for others to read your code. There is even a ESLint role to prevent this for own variables (http://eslint.org/docs/rules/no-shadow).

[2016-07-24 20:49] tilmanpotthof commented on #381
Nice idea. Your can already achieve a function param limit with the built-in ESLint rule max-params (http://eslint.org/docs/rules/max-params), but a custom rule for angular would be nice too.

[2016-07-24 21:43] tilmanpotthof commented on #372
What approach would you prefer.

(a) General configurability with a new parameter to override the componentTypeMappings

    ["error", {nameStyle: 'dash', componentTypeMappings: {factory: "factory"}}]

(b) Boolean parameter "unifyServiceNames" to specify if all services (factory, value etc.) types are named "service". The default would be true to keep the default behaviour

    ["error", {nameStyl

[2016-07-24 22:31] Pencroff commented on #372
I think first approach has more room in future and it's matched with my request.

Thank you for response.

[2016-07-24 23:09] tilmanpotthof commented on #381
Ok, no I understand your use-case. Actually I had the same problem and the max-params were way to high for normal function.

[2016-07-25 03:54] qar commented on #404
@Gillespie59 No, there isn't.

I was using v1.3.0 (which use ESLint v2) and thought that was the latest version.

Sorry for my ignorance. I will close this issue.

![image](https://cloud.githubusercontent.com/assets/2390326/17089973/7fb21890-525e-11e6-89c3-bc4a5e4087c4.png)

[2016-07-25 03:54] #404 closed

[2016-07-25 14:02] tilmanpotthof commented on #372
I implemented the feature in a branch.

Please check the docs if the configuration fits your needs and if the documentation explains the feature good enough.

https://github.com/Gillespie59/eslint-plugin-angular/blob/issue/372-config-for-component-type-mappings/docs/file-name.md

[2016-07-25 14:08] Pencroff commented on #372
It looks good for me.
Thank you for great work!

[2016-07-25 14:22] tilmanpotthof commented on #372
@Gillespie59

PR is open https://github.com/Gillespie59/eslint-plugin-angular/pull/406

[2016-07-26 20:11] jrencz opened #407 "`function-type`: false negative when function call is given as constant"
Example

[code]

Triggers:
` 1:1  error  Use anonymous functions instead of named function  angular/function-type`

Which it shouldn't

plugin version: 1.3.1

Possibly related: #376

[2016-07-26 20:12] jrencz commented on #407
other example:

[code]

[2016-07-26 20:13] jrencz commented on #407
another example: IIFE

[code]

[2016-07-29 13:15] Gillespie59 commented on #372
Thanks

[2016-07-29 13:15] #372 closed

[2016-08-01 08:21] rajansiingh opened #408 "How to disable $log error using no-services ?"
You should use the "log" method of the AngularJS Service $log instead of the console object .
You should use the $window service instead of the default window object.

I want to disable these 2 rules please provide the code ? What to write in rule config ?

[2016-08-02 10:36] jrencz opened #409 "`no-run-logic`: allow arguments to be nested"
Currently it's not possible to use the rule with the following:

[code]

Rationale:
In my project I have configuration built from many sources in CD. `config` module is created dynamically. I only allow `run` blocks to import `config` constant but the constant itself is nested (it's created from JSON objects). I chose to expose those things to DI under a common name to prevent naming collisions.

[2016-08-02 10:38] jrencz commented on #409
This rule should also allow logic services to take named params (I mean ES2015 destructuring):

[code]

[2016-08-02 11:12] jrencz opened #410 "`no-run-logic`: allow assignment"
The following (apparently a valid configuration according to [Angular documentation on $http caching](https://docs.angularjs.org/api/ng/service/$http#caching)) is not valid with `no-run-logic` enabled

[code]

It should be allowed to assign (maybe optionally?)

[2016-08-03 18:16] elartix commented on #401
Hi,

Yes, I disabled this rule.

Thanx

[2016-08-03 18:17] #401 closed

[2016-08-03 21:58] tilmanpotthof commented on #410
Good point. I also think the rule `no-run-logic` is not exactly what the referenced rule by johnpapa says (https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y171).

[2016-08-03 22:01] tilmanpotthof commented on #408
The yaml configuration is.

    rules:
        angular/log: off
        angular/window-service: off

[2016-08-09 11:50] gpopovic opened #411 "Cant get this working"
I'm using eslint 3.2.2 and just can't get angular plugin working.

Eslint doesn't return any angular errors... :/

"eslint --debug" output

[code]

.eslintrc.yml

[code]

when angular plugin is not installed.. eslint will output error.. meaning config is not the problem

[2016-08-09 15:37] Gillespie59 commented on #411
I think by default all rules are disabled. You should enabled them one by one.

[2016-08-10 05:37] gpopovic commented on #411
@Gillespie59 yeah, it seems that you are correct. Any way to enable all rules ?
It makes no sense to me to enable one by one.

[2016-08-24 22:11] jrista opened #413 "Overly aggressive checking for .config function calls, even when inappropriate"
I am getting angular linting errors in cases when they should not occur. For example, in my current project I am using angular-jwt, which requires some configuration when the app starts. I am getting the following error:

[code]

Lines starting at 24 contain this:

[code]

The linter is complaining because I've called .config() on jwtOptionsProvider. It is assuming that jwtOptionsProvider is my an

[2016-09-07 07:31] rajansiingh commented on #408
Thanks !!
It would be good if we provide list of configuration like

[code]
Thanks :)

[2016-09-07 07:31] #408 closed

[2016-09-19 09:54] #407 closed

[2016-09-19 10:07] Gillespie59 commented on #362
I think with the "function" parameter, it should fail, because you use the array syntax. But should succeed with the "array" parameter.

[code]

[2016-09-19 12:28] Gillespie59 commented on #362
I think the problem come from the way we detect AngularJS elements in our rules. can find for the moment a good approach in order to solve this issue :s

[2016-09-19 12:32] Gillespie59 commented on #411
You can maybe use this shareable config : https://github.com/dustinspecker/eslint-config-angular, as explained in our README.md file

[2016-09-19 14:08] #333 closed

[2016-09-26 11:49] ContemporaryConsultant commented on #407
It seems that still is not fixed for constants with arrays:
angular.module('navigation')
    .constant('NAV_STATES', [ {name: 'Dashboard', state: 'app.dashboard'}]);

This causes the same error as above.

[2016-09-29 14:27] K1ll3rF0x opened #416 "Utils.convertStringToRegex method removes the last character from a RegExp string."
When defining e.g. a rule: `"angular/controller-name": [2, '/^Prefix[A-Z][a-zA-Z0-9]*Suffix$/']`
A controller name such as 'PrefixBananaSuffixasdf' does not produce errors.

This seems to be caused by a bug in utils.convertStringToRegex function, that removes the last character from the regexp string, in this case the dollar sign.

Version: 1.4.1.

[2016-10-07 03:15] wohanley opened #417 "Option to relax di rule"
I use 'sl' + the module name as a prefix for my component names, but inside a single component using array DI syntax, there's rarely a need for disambiguation and I'd rather not have to type out full names. For example:

[code]

It would be nice to have an option to not flag `pi` there, something like `{ matchNames: false }`. I'm happy to write the code myself, just checking first that it would be

[2016-11-19 17:11] abbotto opened #418 "Differentiate between 'constructor' services and 'non-constructor' services in naming rules."
Why?
- There are different kinds of services, so it makes sense to have rules for distinctively naming them.
- Consider the following:
    - Injecting `serviceName` as an argument provides a `constructor function`.
    - Injecting `factoryName` as an argument provides a `value returned from a function`.

Suggested Implementation:
- Define a rule such as `angular/service-constructor-name` to target

[2016-11-20 08:20] gauravsoni1 opened #419 "Assigning custom regex to rules like controller name"
Is there a way to customize the pattern for the rules like Controller names ?

Currently `loginController` throws an error as it requires the following syntax `LoginController`.

[2016-11-20 08:52] oriSomething opened #420 "rule `service-name` better have the ability to differ angular.module#factory() regex"
The reason is, since `factory` doesn't return always an `Object` (unlike `angular.module#service()`).
Sometime `factory` returns value is a function, And since that, I prefer to have two different regexes, because I don't want to have mistakes with services name.

Thanks for your time

[2016-11-21 12:31] PatrickWatzlawik commented on #417
Sorry to be one of those "+1" guys, but this would be a big benefit. Services like 'DirectiveHelperService' are shortened to 'DHS' by us.

[2016-11-24 19:03] Gillespie59 commented on #419
Have you checked this page ? https://github.com/Gillespie59/eslint-plugin-angular/blob/master/docs/component-name.md

You can maybe use a regexp.

[2016-11-27 17:39] oriSomething commented on #420
by the way, if you need a help in writing this rule just say. i only need the details

[2016-11-27 17:53] Gillespie59 commented on #420
Why not creating a specific rule for every kind of service  : service
provider and factory ?

Le 27 nov. 2016 18:39, "Ori Livni" <notifications@github.com> a écrit :

[2016-11-27 20:35] oriSomething commented on #420
I don't mind, I think it's preferable

[2016-11-29 09:06] oriSomething commented on #420
So before I'm starting to work on this, let's break it the the thing are needed.
- `service-name` will only apply to services
- `isAngularServiceDeclaration` will only apply yo services
- adding `isAngularFactoryDeclaration` and`factory-name` (same options of `service-name`)
- adding `isAngularProviderDeclaration` and`provider-name` (same options of `service-name`)
- adding `isAngularConstantDecla

[2016-11-29 09:08] Gillespie59 commented on #420
sounds good for me. Enjoy ;)

[2016-11-29 09:08] oriSomething commented on #420
There is also the consideration that it's breaking changes. Maybe we should add flag to `service-name` for the new behaviour so we will be able to merge it before major release?

[2016-11-29 09:13] Gillespie59 commented on #420
Yes good idea. You can maybe add a warning message when the service-name is loaded, explaining the next change. Once this PR done, we will merge in the master an publish a version.
And then, we will publish a major release with the change.

[2016-11-29 11:58] SadiSofiane commented on #223
Same problem, no fix planned ?

[2016-12-03 08:44] Gillespie59 commented on #419
I have just pushed a new unit test for your use case. you should use this pattern "'/[a-zA-Z].*Controller$/'" in order to accept lowercase and/or uppercase for your controllers

[2016-12-03 08:44] #419 closed

[2016-12-03 09:12] Gillespie59 commented on #417
I have just pushed an update for this issue on the dev branch . Can you have a look ?

[2016-12-03 09:23] Gillespie59 commented on #416
I have reproduced the problem. I gonna work on that today I think

[2016-12-03 17:20] Gillespie59 commented on #416
@K1ll3rF0x I have just pushed a fix on the dev branch ? Can you test it ?

[2016-12-03 17:36] #274 closed

[2016-12-05 23:47] wohanley commented on #417
Plot twist: I've moved to a new organization since I filed this, and I don't have access to the large Angular code base I once did. @PatrickWatzlawik, are you in a position to try this out?

[2016-12-06 10:08] PatrickWatzlawik commented on #417
Sorry for the delay, european time :)

After some struggles to get the "development" branch into npm and having finally this entry in my package.json
`"eslint-plugin-angular": "Gillespie59/eslint-plugin-angular#development"`

Following line complains about an error in my DI configuration:
`directive("focusActive", ["$log", function ($l) {...}])`

This is the `.eslintrc.js` part: `"angular/di": [2,

[2016-12-07 14:47] oriSomething commented on #420
opened PR #421

[2016-12-11 06:21] rarkins commented on #326
+1

[2016-12-11 16:15] #416 closed

[2016-12-11 16:24] Gillespie59 commented on #417
You should add this option `{matchNames: false}` in your configuration file

[2016-12-11 16:24] Gillespie59 commented on #417
You can have a look to the latest commit

[2016-12-12 11:00] PatrickWatzlawik commented on #417
Yep, that worked. Thanks for the fix!

[2016-12-13 23:25] mateatslc opened #424 "`on-destroy` rule not listed in `README.md`"
Tell me which section it belongs to so I can prepare a PR.

[2016-12-15 23:33] dpatti opened #425 "A value recipe with an empty array breaks the linter"
If you lint this code:

[code]

certain rules will break the linter with this:

[code]

I believe the issue is the assumption that the array always has elements:

[code]

[2016-12-17 16:11] bodia-uz opened #426 "Add ng-anotate support"
Could You please, add suport of [ng-annotate](https://github.com/olov/ng-annotate) [di](https://github.com/Gillespie59/eslint-plugin-angular/blob/master/docs/di.md) syntax?

[2016-12-24 11:14] Gillespie59 commented on #424
It was due to the script generating the README file

[2016-12-24 11:14] #424 closed

[2016-12-24 11:16] Gillespie59 commented on #425
Which version of the plugin you use ?

Because we have an if statement just before this code :

[code]

[2016-12-24 11:18] #417 closed

[2016-12-24 14:18] dpatti commented on #425
I'm using the latest. The check there returns `false` because the node _does_ exist, but `node.elements` is `[]`, so when we do

[code]

`node` becomes undefined (i.e., `node = [][0]`). It looks like the code expects all arrays in this position to be injections, but either that isn't true for empty arrays, or that isn't true for values.

[2016-12-26 16:21] #420 closed

[2016-12-26 16:32] Gillespie59 commented on #261
I think this issue is not true anymore. I do not see this information in the REDME file.

[2016-12-26 16:32] #261 closed

[2016-12-28 08:36] putuyoga opened #430 "Rule doesn't work as expected"
It seems that the rule doesn't work. i use config from `eslint-config-angular` Still can't figure it why. here is my .estlintrc
[code]

and here is my controller look like:
[code]

it should trigger **controller_as** rule. But it didn't. Strange. Any advice?

[2016-12-31 13:08] Gillespie59 commented on #430
It looks like the problem is the name of your controller defined in a variable. I am going to fix it.

[2016-12-31 13:20] Gillespie59 commented on #430
I have just pushed a fix. Can you test your use case with the development branch ?

[2016-12-31 15:19] Gillespie59 commented on #425
You are right. Do you know which rules throw the error ?

[2016-12-31 15:56] #413 closed

[2016-12-31 15:57] #223 closed

[2016-12-31 16:29] dpatti commented on #425
When I was originally setting up the plugin, it felt like it was happening in about a third of the rules, but it was hard to tell because if any one of them threw everything would fail. The stack trace didn't help narrow it down either. After running into several, I just changed the one empty array value in our codebase to `.value('emptyArray', new Array())` so that I didn't have to deal with it.

[2017-01-01 10:03] oriSomething opened #431 "Warning message of the new angular/service-name should run only once"
<img width="1053" alt="screen shot 2017-01-01 at 12 00 48" src="https://cloud.githubusercontent.com/assets/2685242/21580786/06e98b84-d01a-11e6-8ec7-7b2c0e925109.png">

By the way it breaks WebStore, I'm not sure if it's feature or a bug ;-)

[2017-01-01 10:50] Gillespie59 commented on #431
Yes I have see the problem. the console.warn is not at the right place. Can you move it before the object returned by the create method ?

[2017-01-01 10:57] Gillespie59 commented on #425
I can reproduce it. Will solve it this evening maybe ;) Thanks

[2017-01-01 11:23] oriSomething commented on #431
Of course, I've put me as  assignee for that.

[2017-01-01 18:34] #425 closed

[2017-01-04 04:14] putuyoga commented on #430
It works now. Thanks!

[2017-01-15 07:40] swar30 opened #434 "timeout-service should fail on $window.setTimeout"
Right now timeout-service rule warns on `setTimeout` and on `window.setTimeout` but it does not warn on `$window.setTimeout` which is an unfortunate option as well.

Planning to provide pull request with added support, please let me know if there are any objections

[2017-01-15 18:15] #434 closed

[2017-01-15 18:21] swar30 commented on #434
@Gillespie59 now that this has been merged to development branch, when will it make it into a release ?
I'm in no hurry as currently planning to have direct dependency on github branch in my repo, but would like to setup reminder of when I can switch to official release.

[2017-01-15 18:40] Gillespie59 commented on #434
I will publish the new version when this PR is finished : https://github.com/Gillespie59/eslint-plugin-angular/pull/432

[2017-01-17 11:10] jrencz commented on #381
@tilmanpotthof have you had any chance of working on this feature suggestion?

[2017-01-17 11:31] jrencz opened #436 "module-getter/module-setter: extended configuration"
My use case:
I'm preparing an ES6+ starter for Angular 1.
I'm using ES modules in it.

I'm assigning Angular module to a variable:

[code]

and that's why I don't want `angular/module-setter` rule on.

I do `export default module.name` so in another module I can

[code]
and that's why I don't need `angular/module-getter` on.

But keeping those rules off is not best I can get to express my intentio

[2017-01-18 12:06] jrencz opened #437 "module-dependency-order: allow Identifiers"
For projects like https://github.com/AngularClass/NG6-starter where ng dependency names are imported with ES modules the names of ng modules are not string literals.

Non-ES modules example (works now):
[code]

ES modules example (should work):
[code]

[2017-01-20 15:33] jrencz opened #439 "di-order does not work with DI-enabled ES Class constructors"
Example (expected outcome: `angular/di-order` error):

[code]

Class constructor is not matched by the rule although it's matched by [`olov/ng-annotate`](https://github.com/olov/ng-annotate) with `'ngInject'` statement at the beginning.

ng-annotate follows references so I believe it would match this example anyway since after transpilation it's just a function and annotate follows function refere

[2017-02-01 12:18] vidur149 opened #440 "Can't get it to work. Need Help !"
I am fetching js from jsbin. I want to check the fetched js for errors. I am making this in angular2. I have been trying to include eslint in my project. But it doesn't seems to work. Can anyone help ?

[2017-02-02 22:46] cowwoc opened #441 "How to load mocks environment?"
I see that in https://github.com/Gillespie59/eslint-plugin-angular/blob/master/environments.js subsection `mocks` you declare the `inject` global variable.

How do I import these environment settings from my application? I tried `"extends": "angular"` but eslint complains that the global variable `inject` is undefined.

[2017-02-03 17:50] cowwoc commented on #441
Posted http://stackoverflow.com/questions/42029930/how-to-import-environment-export-by-eslint-plugin

[2017-02-05 18:06] #440 closed

[2017-02-14 15:47] Karankang007 opened #442 "DI validation error for a function without parameters"
I get the following error, when using $inject DI pattern rule for a function without parameters.

[code]

**Function Body:**
(function() {
    'use strict';

    angular.module('app.common')
           .directive('appHelpBtn', helpBtn);

    /**
     * Help button template generator
     * @name appHelpBtn
     * @memberof app.common
     * @class
     * @example
     * <app-help-btn link="help/so

[2017-02-20 16:03] ojab opened #443 "angular/di-unused: does not work with arrow function declaration"
Consider the code:
[code]
the correct warning `1:48  warning  Unused injected value $http  angular/di-unused` is reported

But if function declaration will be changed to arrow function, i. e.:
[code]
no warning is emitted.

eslint-plugin-angular@1.6.1 and eslint@3.15.0 (with `"es6": true`) is used.

[2017-02-21 10:27] tayfunyasar commented on #293
So.. what is the best practice about this 'this'? :)

[2017-02-25 08:37] swar30 commented on #434
It looks like it's not going to finish soon, think you can publish without
it?

On Sun, Jan 15, 2017, 20:40 Emmanuel DEMEY <notifications@github.com> wrote:

[2017-02-27 09:31] 0xR commented on #443
I am running into the same issue, would be great if it could be fixed. I'll have a look if can fix it < 20 min.

[2017-02-27 09:58] 0xR commented on #443
In 20 min I managed to make failing unit tests and try some changed that didn't work. My progress is here: https://github.com/0xR/eslint-plugin-angular/commit/aa5d64046abce01cf3509888c0b8028c9f2079dd

[2017-02-27 13:35] Valdermeyder opened #444 "Rule `typecheck-object` is failed for simple comparing with 'object'"
Rule `typecheck-object` is failed for simple comparing with 'object' string

[code]

Same issue with other `typecheck-*` rules

[2017-02-28 11:26] mdownes commented on #326
+1

[2017-02-28 14:34] graingert commented on #437
I'd like a rule to enforce identifiers.

[2017-02-28 14:39] graingert opened #445 "new rule: module-dependency-identifiers"
as in https://github.com/Gillespie59/eslint-plugin-angular/issues/437 but enforce identifiers only.

[2017-02-28 14:40] graingert commented on #437
@jrencz what's this blocked on, and can this be configured to only allow identifiers?

[2017-03-02 13:48] alfaproject opened #446 "module-getter rule is being too aggressive"
There was a similar issue fixed before where the `module-getter` rule was triggered when a dependency has a `config` method, and now I stumbled upon the same thing, but with a `run` method.

Example:
[code]

[2017-03-03 09:12] jrencz commented on #437
I believe rules are about what syntactic thing they enforce and their configs are for what varian of that syntax they enforce. So yes: there should be a way to enforce either literals or identifiers, but IMO it should be one rule.